<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10">
                    <div class="content add-content flex" style="display:flex; justify-content: space-between;">
                        <div style="display: flex; align-items: center;">
                            <label style="text-wrap: nowrap;">Period of Created At: </label>
                            <input type="date" [(ngModel)]="selectedDateFrom" class="form-control" name="createdFrom"
                                (change)="fetchTransactions()" />
                            <input type="date" [(ngModel)]="selectedDateTo" class="form-control" name="createdTo"
                                (change)="fetchTransactions()" />
                        </div>
                        <div>
                            <button class="btn btn-sm btn-info btn-fill" (click)="toggleAddCashForm()">
                                Add Cash
                            </button>
                        </div>
                    </div>
                    <div class="card margin-bottom-10" *ngIf="isContentVisible">
                        <div class="header">
                            <h4 class="title">Add Cash Transaction</h4>
                            <p class="category">Fill in the details to add a new cash transaction</p>
                        </div>
                        <div class="content">
                            <form (ngSubmit)="saveCashTransaction()">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Reason:</label>
                                            <input type="text" class="form-control" placeholder="Reason"
                                                [(ngModel)]="newTransaction.reasons" name="reason" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Type:</label>
                                            <select [(ngModel)]="newTransaction.type" class="form-control" name="type"
                                                required>
                                                <option value="" disabled selected>Select Type</option>
                                                <option value="Credit">Credit</option>
                                                <option value="Debit">Debit</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Transaction Amount:</label>
                                            <input type="number" class="form-control" placeholder="Amount"
                                                [(ngModel)]="newTransaction.transaction" name="transaction" required />
                                        </div>
                                    </div>
                                </div>
                                <div style="display: flex;gap: 1rem;justify-content: right;">
                                    <button type="submit" class="btn btn-sm btn-success btn-fill pull-right">
                                        <!-- Save -->
                                        <i style="font-size: large;" class="
                                    pe-7s-diskette
                                    "></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger btn-fill pull-right"
                                        (click)="cancelAddCash()">
                                        <i style="font-size: large;" class="
                                    pe-7s-back
                                    "></i>
                                        <!-- Cancel -->
                                    </button>
                                </div>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>User</th>
                                    <th>Register</th>
                                    <th>Reason</th>
                                    <th>Type</th>
                                    <th>Transaction</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transaction of transactions">
                                    <td>{{ transaction.date }}</td>
                                    <td>{{ transaction.user_id.email }}</td>
                                    <td>{{ transaction.register.name }}</td>

                                    <td *ngIf="!transaction.isEditing">{{ transaction.reasons }}</td>
                                    <td *ngIf="transaction.isEditing">
                                        <input [(ngModel)]="transaction.reasons" class="form-control" />
                                    </td>

                                    <td [ngClass]="transaction.is_credit === '1' ? 'credit-clr' : 'debit-clr'"
                                        *ngIf="!transaction.isEditing">{{ transaction.is_credit==='1'?'Credit':'Debit'
                                        }}</td>
                                    <td *ngIf="transaction.isEditing">
                                        <select [(ngModel)]="transaction.type" class="form-control">
                                            <option value="Credit">Credit</option>
                                            <option value="Debit">Debit</option>
                                        </select>
                                    </td>

                                    <td [ngClass]="transaction.is_credit === '1' ? 'credit-clr' : 'debit-clr'"
                                        *ngIf="!transaction.isEditing">
                                        {{ transaction.is_credit === '1' ? '+ ' : '- ' }} ${{ transaction.transaction
                                        }}
                                    </td>

                                    <td *ngIf="transaction.isEditing">
                                        <input [(ngModel)]="transaction.transaction" class="form-control" />
                                    </td>
                                    <td>
                                        <button *ngIf="!transaction.isActionButton" class="btn btn-sm btn-info"
                                            (click)="editTransaction(transaction)" data-toggle="tooltip" title="Edit">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button>
                                        <button *ngIf="!transaction.isActionButton" class="btn btn-sm btn-danger"
                                            (click)="showDeleteModal(transaction._id)" data-toggle="tooltip"
                                            title="Delete">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                        <button *ngIf="transaction.isEditing" class="btn btn-success btn-xs"
                                            (click)="saveTransaction(transaction)">
                                            <i class="pe-7s-diskette" style="font-size: large;"></i>
                                            <!-- Save -->
                                        </button>
                                        <button *ngIf="transaction.isEditing" class="btn btn-secondary btn-xs"
                                            (click)="cancelTransaction(transaction)">
                                            <i class="pe-7s-back" style="font-size: large;"></i>
                                            <!-- Cancel -->
                                        </button>
                                        <button *ngIf="transaction.isConfirming" class="btn btn-danger btn-xs"
                                            (click)="deleteTransaction(transaction)">
                                            Yes
                                        </button>
                                        <button *ngIf="transaction.isConfirming" class="btn btn-secondary btn-xs"
                                            (click)="cancelConfirm(transaction)">
                                            No
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>
<app-confirm-modal *ngIf="isDeleteModal" [title]="'Remove Cash Data'"
    [description]="'Do you really want to remove this Cash info ?'" [confirmButtonCaption]="'Delete'"
    [cancelButtonCaption]="'Cancel'" (confirmed)="deleteRow()" (cancelled)="closeDeleteModal()">
</app-confirm-modal>