<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10">
                    <div class="content add-content">
                        <div class="align-center btn-group">
                            <button class="btn btn-sm" [class.active]="activePeriod === 'daily'" (click)="setActivePeriod('daily')">Daily</button>
                            <button class="btn btn-sm" [class.active]="activePeriod === 'monthly'" (click)="setActivePeriod('monthly')">Monthly</button>
                            <button class="btn btn-sm" [class.active]="activePeriod === 'yearly'" (click)="setActivePeriod('yearly')">Yearly</button>
                        </div>
                        <div class="align-center">
                            <input type="date" class="form-control" id="from" name="from" [(ngModel)]="start" (change)="onDateChange()"/>
                            <p class="category">&nbsp;&nbsp;~&nbsp;&nbsp;</p>
                            <input type="date" class="form-control" id="to" name="to" [(ngModel)]="end" (change)="onDateChange()"/>
                            <p class="category">&nbsp;&nbsp;</p>
                            <button class="btn btn-sm btn-info btn-fill" (click)="onSearch()">Search</button>
                        </div>
                    </div>
                </div>
                <div class="card margin-bottom-10">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-2 text-center margin-top-30">
                                <div class="show">
                                    <p class="category">Sales</p>
                                    <p class="category"><small>({{this.start}} - {{this.end}})</small></p>
                                    <p class="category"><strong>{{ sumSales | currency }} Tax excl.</strong></p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <lbd-chart
                                    [title]="''"
                                    [subtitle]="''"
                                    [chartType]="chartType"
                                    [chartData]="chartSalesData"
                                    [chartOptions]="chartSalesOptions"
                                    [chartResponsive]="chartResponsive"
                                    [legendItems]="chartLegendItems"
                                    [withHr]="true"
                                    [footerIconClass]="'fa fa-history'"
                                    [footerText]="'Updated 3 minutes ago'">
                                </lbd-chart>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 text-center margin-top-30">
                                <div class="show">
                                    <p class="category">Orders</p>
                                    <p class="category"><small>({{this.start}} - {{this.end}})</small></p>
                                    <p class="category"><strong>{{ sumOrders.toFixed(0) }}</strong></p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <lbd-chart
                                    [title]="''"
                                    [subtitle]="''"
                                    [chartType]="chartType"
                                    [chartData]="chartOrdersData"
                                    [chartOptions]="chartOrdersOptions"
                                    [chartResponsive]="chartResponsive"
                                    [legendItems]="chartLegendItems"
                                    [withHr]="true"
                                    [footerIconClass]="'fa fa-history'"
                                    [footerText]="'Updated 3 minutes ago'">
                                </lbd-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card margin-bottom-10">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4 text-center padding-10">
                                <div class="header">
                                    <p class="category">Sales Report</p>
                                </div>
                                <div class="show">
                                    <p class="category">Total for this month ({{ month }})</p>
                                    <p class="category"><strong>{{ totalForThisMonth | currency }}</strong></p>
                                </div>
                                <div class="show margin-top-5">
                                    <p class="category">Total for today ({{ today }})</p>
                                    <p class="category"><strong>{{ totalForToday | currency }}</strong></p>
                                </div>
                            </div>
                            <div class="col-md-4 text-center padding-10">
                                <div class="header">
                                    <p class="category">Product Report</p>
                                </div>
                                <!-- <div class="show">
                                    <p class="category">Total by User</p>
                                    <p class="category">${{ totalByUser }}</p>
                                </div> -->
                                <div class="show">
                                    <p class="category">Total by Outlet ({{this.start}} - {{this.end}})</p>
                                    <p class="category"><strong>{{ totalByOutlet | currency }}</strong></p>
                                </div>
                                <!-- <div class="show margin-top-5">
                                    <p class="category">Total by Customer</p>
                                    <p class="category">${{ totalByCustomer }}</p>
                                </div> -->
                            </div>
                            <div class="col-md-4 text-center padding-10">
                                <div class="header">
                                    <p class="category">Stock Report</p>
                                </div>
                                <div class="show">
                                    <p class="category">Stock Levels</p>
                                    <p class="category"><strong>{{ stockLevels.toFixed(0) }}</strong></p>
                                </div>
                                <div class="show margin-top-5">
                                    <p class="category">Stock on Hand</p>
                                    <p class="category"><strong>{{ stockOnHand.toFixed(0) }}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card margin-bottom-10">
                    <div class="content add-content">
                        <p class="category">Manage the customer point and gift . Need help?</p>
                        <button class="btn btn-sm btn-info btn-fill">Save</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
