.btn {
    margin: 0 2px;
}

.add-content {
    display: flex;                /* Enables Flexbox for .content */
    justify-content: space-between; /* Distributes space between elements */
    align-items: center;          /* Vertically centers the items */
}

.card .content {
    padding: 10px 15px 10px 15px;
}

.dropdown{
    margin: 0 auto;
    padding: 6px 15px 6px 15px;
}

.dropdown a{
    color: #9a9a9a;
}

.margin-bottom-0
{
    margin-bottom: 0px;
}

.margin-bottom-10
{
    margin-bottom: 10px;
}

input{
    padding: 4px 6px 4px 6px;
    height: 32px;
}

table td{
    padding-bottom: 3px;
    padding-top: 3px; 
}

.borderless-table {
    border-collapse: collapse; /* Ensures borders are uniform */
  }

.borderless-table,
.borderless-table th,
.borderless-table td {
    border: none; /* Hides all borders */
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.float-right{
    float:right;
}

.padding-bottom-0{
    padding-bottom: 0px;
}

.padding-top-20{
    padding-top: 20px;
}

.margin-top-5{
    margin-top: 5px;
}

.width-25 {
    width: 25px;
}

.table {
    margin-bottom: 0px;
}

.col-md-4 {
    padding: 0px 0px;
}

.align-center {
    align-items: center; 
    display: flex;
    gap: 1;
}

.show{
    padding: 6px 15px 6px 15px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}

.margin-0 {
    margin: 0 0 !important;
}

.btn-group{
    display: flex;
}
  
.btn-group .btn {
    border: 1px solid #ccc; /* Default border */
    padding: 6px 10px;
    margin: 0;
    background-color: #f8f9fa; /* Light gray */
    cursor: pointer;
    font-size: 12px;//1rem;
}

.btn-group .active {
    border-color: #1dc7ea; /* Default border */
    background-color: #1dc7ea; /* Light gray */
    color: white;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Remove right border between buttons */
}
  
.first-btn {
    border-radius: 3px 0 0 3px; /* Rounded on the top-left and bottom-left */
}
  
.last-btn {
    border-radius: 0 3px 3px 0; /* Rounded on the top-right and bottom-right */
}

.align-center {
    align-items: center; 
    display: flex;
}

.padding-10 {
    padding: 10px 10px;
}