<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Payment</a></li>
                    <li role="presentation"><a href="#">Receipt</a></li>
                </ul>
                <div class="card margin-bottom-0">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox1" type="checkbox">
                                    <label class="padding-top-2" for="checkbox1">Cash Accepted</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox2" type="checkbox">
                                    <label class="padding-top-2" for="checkbox2">Rewards Accepted</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox3" type="checkbox">
                                    <label class="padding-top-2" for="checkbox3">Credit Card Accepted</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox4" type="checkbox">
                                    <label class="padding-top-2" for="checkbox4">Others Accepted</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox5" type="checkbox">
                                    <label class="padding-top-2" for="checkbox5">Visa</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox6" type="checkbox">
                                    <label class="padding-top-2" for="checkbox6">Others2 Accepted</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox7" type="checkbox">
                                    <label class="padding-top-2" for="checkbox7">Master</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox8" type="checkbox">
                                    <label class="padding-top-2" for="checkbox8">Layby Accepted</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox9" type="checkbox">
                                    <label class="padding-top-2" for="checkbox9">Amex</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox10" type="checkbox">
                                    <label class="padding-top-2" for="checkbox10">Store Credit Accepted</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox11" type="checkbox">
                                    <label class="padding-top-2" for="checkbox11">Discover</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox12" type="checkbox">
                                    <label class="padding-top-2" for="checkbox12">On Account Accepted</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox13" type="checkbox">
                                    <label class="padding-top-2" for="checkbox13">Diners</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox14" type="checkbox">
                                    <label class="padding-top-2" for="checkbox14">FoodStamp Accepted</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox15" type="checkbox">
                                    <label class="padding-top-2" for="checkbox15">Jcb</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox16" type="checkbox">
                                    <label class="padding-top-2" for="checkbox16">Check Accepted</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox17" type="checkbox">
                                    <label class="padding-top-2" for="checkbox17">Debit Accepted</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox18" type="checkbox">
                                    <label class="padding-top-2" for="checkbox18">EBT Cash Accepted</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox19" type="checkbox">
                                    <label class="padding-top-2" for="checkbox19">Gift Accepted</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox20" type="checkbox">
                                    <label class="padding-top-2" for="checkbox20">Charge Account Accepted</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="content add-content">
                                <p class="category"></p>
                                <button class="btn btn-sm btn-info btn-fill">Save</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
