<div class="login-container">
    <div>
        <div>

        </div>

        <div class="login-form">
            <img class="logo-img" src="/assets/img/logo.png" style="width: 100%;margin-bottom: 3rem;" />
            <!-- <h2>Login</h2> -->
            <div class="form-group">
                <label for="private_web_address">Private Web Address</label>
                <input type="text" id="private_web_address" name="private_web_address" [(ngModel)]="private_web_address"
                    required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <button type="submit" (click)="check()">Login</button>
            <!-- <span >{{error_msg}}</span> -->
        </div>
    </div>
</div>
<app-toast></app-toast>