<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10">
                    <div class="content add-content flex" style="display: flex;justify-content: space-between;">
                        <div style="display: flex; align-items: center;">
                            <span>
                                Manage your customers and their balances, or segment them by demographics and spending
                                habits.
                                <a href="#">Need help ?</a>
                            </span>
                        </div>
                        <div style="display: flex; justify-content: right;">
                            <button class="btn btn-sm btn-info btn-fill" style="margin-right: 2rem;">
                                Import Customers
                            </button>
                            <button class="btn btn-sm btn-info btn-fill" (click)="addcustomer()">
                                Add Customer
                            </button>
                        </div>
                    </div>
                    <div class="card margin-bottom-10" *ngIf="isContentVisible">
                        <div
                            style="display: flex; border-bottom: 1px solid rgb(212, 212, 212);padding-top: 1rem;padding-bottom: 1rem;">
                            <div class="col-md-3">
                                <h3>Details</h3>
                            </div>
                            <div class="col-md-9">
                                <div class="row space-between">
                                    <div class="col-md-6">
                                        <label for="name">Name:</label>
                                        <input type="text" id="name" class="form-control" placeholder="Enter Name"
                                            [(ngModel)]="newCustomer.name" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="companyName">Company Name:</label>
                                        <input type="text" id="companyName" class="form-control"
                                            placeholder="Enter Company Name" [(ngModel)]="newCustomer.companyName" />
                                    </div>
                                </div>
                                <div class="row space-between">
                                    <div class="col-md-6">
                                        <label for="customerCode">Customer Code:</label>
                                        <input type="text" id="customerCode" class="form-control"
                                            placeholder="Enter Customer Code" [(ngModel)]="newCustomer.customerCode" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="group">Group:</label>
                                        <select id="group" class="form-control" [(ngModel)]="newCustomer.group">
                                            <option value="Regular">Regular Customers</option>
                                            <option value="VIP">VIP Customers</option>
                                            <option value="New">New Customers</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row space-between">
                                    <div class="col-md-6">
                                        <label for="dob">Date of Birth:</label>
                                        <input type="date" id="dob" class="form-control"
                                            [(ngModel)]="newCustomer.dob" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="gender">Gender:</label>
                                        <select id="gender" class="form-control" [(ngModel)]="newCustomer.gender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            style="display: flex; border-bottom: 1px solid rgb(212, 212, 212); padding-top: 1rem;padding-bottom: 1rem;">
                            <div class="col-md-3">
                                <h3>Contact Information</h3>
                            </div>
                            <div class="col-md-9">
                                <div class="row space-between">
                                    <div class="col-md-6">
                                        <label for="email">Email:</label>
                                        <input type="email" id="email" class="form-control" placeholder="Enter Email"
                                            [(ngModel)]="newCustomer.email" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="mobile">Mobile:</label>
                                        <input type="tel" id="mobile" class="form-control" placeholder="Enter Mobile"
                                            [(ngModel)]="newCustomer.mobile" />
                                    </div>
                                </div>
                                <div class="row space-between">
                                    <div class="col-md-6">
                                        <label for="phone">Phone:</label>
                                        <input type="tel" id="phone" class="form-control" placeholder="Enter Phone"
                                            [(ngModel)]="newCustomer.phone" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="fax">Fax:</label>
                                        <input type="tel" id="fax" class="form-control" placeholder="Enter Fax"
                                            [(ngModel)]="newCustomer.fax" />
                                    </div>
                                </div>
                                <div class="row space-between">
                                    <div class="col-md-6">
                                        <label for="twitter">Twitter:</label>
                                        <input type="text" id="twitter" class="form-control"
                                            placeholder="Enter Twitter Handle" [(ngModel)]="newCustomer.twitter" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="website">Website:</label>
                                        <input type="url" id="website" class="form-control"
                                            placeholder="Enter Website URL" [(ngModel)]="newCustomer.website" />
                                    </div>
                                </div>
                                <div class="row space-between">
                                    <div class="col-md-12">
                                        <label for="note">Note:</label>
                                        <textarea id="note" class="form-control" rows="3" placeholder="Enter any notes"
                                            [(ngModel)]="newCustomer.note"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            style="display: flex; border-bottom: 1px solid rgb(212, 212, 212); padding-top: 1rem;padding-bottom: 1rem;">
                            <div class="col-md-3">
                                <h3>Address Information</h3>
                            </div>
                            <div class="col-md-9">
                                <div class="row space-between">
                                    <div class="col-md-6">
                                        <label for="street">Street:</label>
                                        <input type="text" id="street" class="form-control" placeholder="Enter Street"
                                            [(ngModel)]="newCustomer.street" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="city">City:</label>
                                        <input type="text" id="city" class="form-control" placeholder="Enter City"
                                            [(ngModel)]="newCustomer.city" />
                                    </div>
                                </div>
                                <div class="row space-between">
                                    <div class="col-md-6">
                                        <label for="suburb">Suburb:</label>
                                        <input type="text" id="suburb" class="form-control" placeholder="Enter Suburb"
                                            [(ngModel)]="newCustomer.suburb" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="postcode">Postcode:</label>
                                        <input type="text" id="postcode" class="form-control"
                                            placeholder="Enter Postcode" [(ngModel)]="newCustomer.postcode" />
                                    </div>
                                </div>
                                <div class="row space-between">
                                    <div class="col-md-6">
                                        <label for="state">State:</label>
                                        <input type="text" id="state" class="form-control" placeholder="Enter State"
                                            [(ngModel)]="newCustomer.state" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="country">Country:</label>
                                        <select id="country" class="form-control" [(ngModel)]="newCustomer.country">
                                            <option *ngFor="let country of countries" [value]="country">{{ country }}
                                            </option>
                                            <!-- Add more countries as needed -->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" id="differentAddress" class="form-check-input"
                                        [(ngModel)]="differentAddress" />
                                    <label for="differentAddress" class="form-check-label">Postal Address different from
                                        Physical Address</label>
                                </div>

                                <div *ngIf="differentAddress" style="margin-top: 20px;">
                                    <h4>Postal Address</h4>
                                    <div class="row space-between">
                                        <div class="col-md-6">
                                            <label for="postalStreet">Street:</label>
                                            <input type="text" id="postalStreet" class="form-control"
                                                placeholder="Enter Postal Street"
                                                [(ngModel)]="newCustomer.postalStreet" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="postalCity">City:</label>
                                            <input type="text" id="postalCity" class="form-control"
                                                placeholder="Enter Postal City" [(ngModel)]="newCustomer.postalCity" />
                                        </div>
                                    </div>
                                    <div class="row space-between">
                                        <div class="col-md-6">
                                            <label for="postalSuburb">Suburb:</label>
                                            <input type="text" id="postalSuburb" class="form-control"
                                                placeholder="Enter Postal Suburb"
                                                [(ngModel)]="newCustomer.postalSuburb" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="postalPostcode">Postcode:</label>
                                            <input type="text" id="postalPostcode" class="form-control"
                                                placeholder="Enter Postal Postcode"
                                                [(ngModel)]="newCustomer.postalPostcode" />
                                        </div>
                                    </div>
                                    <div class="row space-between">
                                        <div class="col-md-6">
                                            <label for="postalState">State:</label>
                                            <input type="text" id="postalState" class="form-control"
                                                placeholder="Enter Postal State"
                                                [(ngModel)]="newCustomer.postalState" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="postalCountry">Country:</label>
                                            <select id="postalCountry" class="form-control"
                                                [(ngModel)]="newCustomer.postalCountry">
                                                <option *ngFor="let country of countries" [value]="country">{{ country
                                                    }}
                                                </option>
                                                <!-- Add more countries as needed -->
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div style="display: flex;  margin-top: 20px;">
                            <div class="col-md-3">
                                <h3>Custom Fields</h3>
                            </div>
                            <div class="col-md-9">
                                <div class="row space-between">
                                    <div class="col-md-6">
                                        <label for="customField1">Custom Field 1:</label>
                                        <input type="text" id="customField1" class="form-control"
                                            placeholder="Enter Custom Field 1" [(ngModel)]="newCustomer.customField1" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="customField2">Custom Field 2:</label>
                                        <input type="text" id="customField2" class="form-control"
                                            placeholder="Enter Custom Field 2" [(ngModel)]="newCustomer.customField2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;align-content: center;margin-top: 1rem;margin-bottom: 1rem;padding-bottom: 1rem;    place-content: center;">
                            <button class="btn btn-sm btn-info btn-fill " style="margin-right: 2rem;">Save</button>
                            <button class="btn btn-sm btn-danger btn-fill ">Cancel</button>
                        </div>

                    </div>

                    <!-- Search Bar -->
                    <div class="card margin-bottom-10">
                        <div class="content add-content"
                            style="display: flex; justify-content: space-between; align-items: center;">
                            <div style="flex-grow: 1; display: flex; justify-content: space-between;">
                                <div class="col-md-3">
                                    <label>Search Customers:</label>
                                    <input type="text" [(ngModel)]="customerSearch" class="form-control"
                                        placeholder="Search..." />
                                </div>
                                <div class="col-md-3">
                                    <label>Customer Group:</label>
                                    <select [(ngModel)]="selectedGroup" class="form-control" name="group">
                                        <option value="" disabled selected>Select Group</option>
                                        <option value="All">All Groups</option>
                                        <option value="Regular">Regular Customers</option>
                                        <option value="VIP">VIP Customers</option>
                                        <option value="New">New Customers</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Country:</label>
                                    <select [(ngModel)]="selectedCountry" class="form-control" name="country">
                                        <option value="All Countries" selected>Select Country</option>
                                        <option *ngFor="let country of countries" [value]="country">{{ country }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2 d-flex align-items-center"
                                    style="display: flex; align-items:center;justify-content: space-between;">
                                    <button class="btn btn-sm btn-info btn-fill"
                                        [disabled]="!customerSearch && !selectedGroup && selectedCountry === 'All Countries'"
                                        (click)="searchTransactions()">Search</button>
                                    <button class="btn btn-sm btn-danger btn-fill ml-2" (click)="clearFilters()">Clear
                                        Filters</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Transactions Table -->
                    <!-- Transactions Table -->
                    <div class="card">
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Group</th>
                                        <th>Store Credit</th>
                                        <th>Balance</th>
                                        <th>Points</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let transaction of filteredTransactions">
                                        <td>{{ transaction.name }}</td>
                                        <td>{{ transaction.email }}</td>
                                        <td>{{ transaction.group }}</td>
                                        <td>{{ transaction.storeCredit | currency }}</td>
                                        <td>{{ transaction.balance | currency }}</td>
                                        <td>{{ transaction.points }}</td>
                                        <td>
                                            <button class="btn btn-sm btn-info"
                                                (click)="viewTransaction(transaction)">View</button>
                                            <button class="btn btn-sm btn-warning"
                                                (click)="editTransaction(transaction)">Edit</button>
                                            <button class="btn btn-sm btn-danger"
                                                (click)="deleteTransaction(transaction)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>