<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10">
                    <div class="content add-content"
                        style="display: flex;justify-content: space-between;align-items: center;">
                        <p class="category">View and manage your suppliers.
                            <a href="#">Need help?</a>
                        </p>
                        <div style="display: flex;gap: 1rem;">

                            <button *ngIf="isContentVisible" class="btn btn-sm btn-info btn-fill "
                                (click)="saveSupplier()">Save</button>
                            <button *ngIf="isContentVisible" class="btn btn-sm btn-warning btn-fill "
                                (click)="cancelSupplier()">Cancel</button>
                            <button *ngIf="!isContentVisible" class="btn btn-sm btn-info btn-fill"
                                (click)="cancelSupplier()">
                                <!-- <i class="pe-7s-next-2" style="font-size: 2rem;"></i> -->
                                Add Supplier</button>
                        </div>
                    </div>
                </div>

                <div class="card" style="padding: 3rem;" *ngIf="isContentVisible">
                    <table class="table" style="height: 74vh;overflow-y: auto;">
                        <tr class="border-bt">
                            <td class="col-sm-3">
                                <div style="align-items: center;">
                                    <div><b>Details</b></div>
                                    <div>How your supplier is identified and described in Vend. You can also choose to
                                        set
                                        a default markup, making setting up products easier.</div>
                                </div>
                            </td>
                            <td class="col-sm-9 ">
                                <div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Supplier Name</label>
                                            <input type="text" class="form-control" placeholder="Supplier Name"
                                                [(ngModel)]="currentRow.name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Default Markup</label>
                                            <input type="number" class="form-control" placeholder="Default Markup"
                                                [(ngModel)]="currentRow.markup">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea rows="5" class="form-control"
                                            placeholder="Here can be your description"
                                            [(ngModel)]="currentRow.description"></textarea>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="border-bt">
                            <td class="col-sm-3 ">
                                <div>
                                    <div><b>Contact Info</b></div>
                                    <div><span>The official name and contact details for your supplier.</span></div>
                                </div>
                            </td>
                            <td class="col-sm-9">
                                <div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" placeholder="First name"
                                                [(ngModel)]="currentRow.first_name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" placeholder="Last name"
                                                [(ngModel)]="currentRow.last_name">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Company</label>
                                            <input type="text" class="form-control" placeholder="Company"
                                                [(ngModel)]="currentRow.company">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="Email"
                                                [(ngModel)]="currentRow.email">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="number" class="form-control" placeholder="Phone"
                                                [(ngModel)]="currentRow.phone">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mobile</label>
                                            <input type="number" class="form-control" placeholder="Mobile"
                                                [(ngModel)]="currentRow.mobile">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Fax</label>
                                            <input type="text" class="form-control" placeholder="Fax"
                                                [(ngModel)]="currentRow.fax">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Website</label>
                                            <input type="text" class="form-control" placeholder="Website"
                                                [(ngModel)]="currentRow.website">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Twitter</label>
                                            <input type="text" class="form-control" placeholder="Twitter"
                                                [(ngModel)]="currentRow.twitter">
                                        </div>
                                    </div>

                                </div>
                            </td>
                        </tr>
                        <tr class="border-bt">
                            <td class="col-sm-3">
                                <!-- <div> -->
                                <div><b>Address</b></div>
                                <div><span>Physical Address / Postal Address</span></div>
                                <!-- </div> -->
                            </td>
                            <td class="col-sm-9">
                                <div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Street</label>
                                            <input type="text" class="form-control" placeholder="Street"
                                                [(ngModel)]="currentRow.physical_address.street">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control" placeholder="City"
                                                [(ngModel)]="currentRow.physical_address.city">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Suburb</label>
                                            <input type="text" class="form-control" placeholder="Suburb"
                                                [(ngModel)]="currentRow.physical_address.suburb">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Postcode</label>
                                            <input type="text" class="form-control" placeholder="Postcode"
                                                [(ngModel)]="currentRow.physical_address.postcode">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>State</label>
                                            <input type="text" class="form-control" placeholder="State"
                                                [(ngModel)]="currentRow.physical_address.state">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <select class="form-control"
                                                [(ngModel)]="currentRow.physical_address.Country">
                                                <option *ngFor="let country of countries" [value]="country._id">
                                                    {{ country.country_name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-8">

                                        <div class="checkbox" style="display: flex;">
                                            <input id="checkbox1" type="checkbox"
                                                [(ngModel)]="currentRow.exist_postal_address">
                                            <label for="checkbox1">
                                                Postal Address different from Physical Address
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Postal Address Section -->
                                <div *ngIf="currentRow.exist_postal_address">
                                    <div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Street</label>
                                                <input type="text" class="form-control" placeholder="Street"
                                                    [(ngModel)]="currentRow.postal_address.street">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" placeholder="City"
                                                    [(ngModel)]="currentRow.postal_address.city">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Suburb</label>
                                                <input type="text" class="form-control" placeholder="Suburb"
                                                    [(ngModel)]="currentRow.postal_address.suburb">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Postcode</label>
                                                <input type="text" class="form-control" placeholder="Postcode"
                                                    [(ngModel)]="currentRow.postal_address.postcode">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" class="form-control" placeholder="State"
                                                    [(ngModel)]="currentRow.postal_address.state">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select class="form-control"
                                                    [(ngModel)]="currentRow.postal_address.Country">
                                                    <option *ngFor="let country of countries" [value]="country._id">
                                                        {{ country.country_name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button *ngIf="isContentVisible" type="submit"
                                    class="btn btn-sm btn-warning btn-fill pull-right"
                                    (click)="cancelSupplier()">Cancel</button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-sm btn-info btn-fill pull-right"
                                    (click)="saveSupplier()">Save</button>
                            </td>
                        </tr>
                    </table>

                </div>

                <div *ngIf="!isContentVisible">

                    <div class="card margin-bottom-0">
                        <div class="content add-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control"
                                        placeholder="Search suppliers by typing here" [(ngModel)]="searchQuery"
                                        (input)="filterRows()" style="width: 25rem;" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="content table-responsive table-full-width" style="height: 63vh;overflow-y: auto;">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Markup</th>
                                        <th>Products</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of paginatedRows">
                                        <td *ngIf="!row.isEditing">{{ row.name }}</td>
                                        <td *ngIf="row.isEditing">
                                            <input [(ngModel)]="row.name" class="form-control" />
                                        </td>

                                        <td *ngIf="!row.isEditing">{{ row.description }}</td>
                                        <td *ngIf="row.isEditing">
                                            <input [(ngModel)]="row.description" class="form-control" />
                                        </td>

                                        <td *ngIf="!row.isEditing">{{ row.markup }}%</td>
                                        <td *ngIf="row.isEditing">
                                            <input [(ngModel)]="row.markup" class="form-control" />
                                        </td>

                                        <td *ngIf="!row.isEditing">{{ row.products }}</td>
                                        <td *ngIf="row.isEditing">
                                            <input [(ngModel)]="row.product" class="form-control" />
                                        </td>

                                        <td>
                                            <button *ngIf="!(row.isEditing)" class="btn btn-info btn-simple btn-xs"
                                                (click)="editRow(row)">
                                                <i class="fa fa-edit" style="font-size: 1.7rem;"></i>
                                            </button>
                                            <button *ngIf="!(row.isEditing)" class="btn btn-danger btn-simple btn-xs"
                                                (click)="deleteRow(row)">
                                                <i class="fa fa-times" style="font-size: 1.7rem;"></i>
                                            </button>
                                            <button *ngIf="row.isEditing" class="btn btn-info btn-simple btn-xs"
                                                (click)="saveRow(row)">
                                                <i class="pe-7s-diskette" style="font-size: 1.7rem;"></i>
                                            </button>
                                            <button *ngIf="row.isEditing" class="btn btn-danger btn-simple btn-xs"
                                                (click)="cancelEdit(row)">
                                                <i class="pe-7s-close" style="font-size: 1.7rem;"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
        <app-pagination class="float-right" [totalCount]="totalItems" [countsPerPageOptions]="[5, 10, 20, 50]"
            (pageChanged)="onPageChanged($event)" (countPerPageChanged)="onCountPerPageChanged($event)">
        </app-pagination>
    </div>
</div>
<app-confirm-modal *ngIf="isDeleteModal" [title]="'Remove Supplier Information'"
    [description]="'Do you really want to remove the Information of Supplier ?'" [confirmButtonCaption]="'Delete'"
    [cancelButtonCaption]="'Cancel'" (confirmed)="deleteConfirm()" (cancelled)="closeDeleteModal()">
</app-confirm-modal>
<app-toast></app-toast>