.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.ml-2 {
    margin-left: 1rem;
    /* Adjust as needed */
}

.btn {
    margin: 0 2px;
}

.add-content {
    display: flex;
    /* Enables Flexbox for .content */
    justify-content: space-between;
    /* Distributes space between elements */
    align-items: center;
    /* Vertically centers the items */
}

.card .content {
    padding: 10px 15px 10px 15px;
}

.dropdown {
    margin: 0 auto;
    padding: 6px 15px 6px 15px;
}

.dropdown a {
    color: #9a9a9a;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-3 {
    margin-bottom: 3px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

input,
select {
    padding: 4px 6px 4px 6px;
    height: 32px;
}

table td {
    padding-bottom: 3px;
    padding-top: 3px;
    height: 35px !important;
}

.custom-file-upload {
    display: inline-block;
    padding: 7px 10px;
    cursor: pointer;
    background-color: #1dc7ea;
    /* Customize button color */
    color: white;
    border-radius: 3px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    text-transform: none;
}

.custom-file-upload:hover {
    opacity: 0.8;
    /* Darker shade on hover */
}

.hidden {
    display: none;
    /* Hide the default file input */
}

.item-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col-md-4,
.col-sm-4,
.col-md-6 {
    padding-right: 0px;
}

@media (max-width: 991px) {
    .row-responsive {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
}

.width-125 {
    width: 125px;
}

.form-group {
    margin-bottom: 0px;
}

.form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

tr {
    cursor: pointer;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 800px;
    width: 90%;
    z-index: 1001;
}

// .modal-title {
//     margin-bottom: 20px;
//     font-size: 24px;
//     text-align: center;
// }

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
    text-align: center;
}

.info-group {
    margin-bottom: 20px;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.report-table th,
.report-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.report-table th {
    background-color: #f2f2f2;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    color: #555;
}

p {
    margin: 0;
    color: #333;
}

.close-button {
    background-color: transparent; /* Make the button background transparent */
    border: none; /* Remove border */
    font-size: 20px; /* Increase font size */
    cursor: pointer; /* Change cursor on hover */
    color: #8a8a8a; /* Button color */
}

.close-button:hover {
    color: #1f1f1f; /* Change color on hover */
}

.align-center {
    align-items: center;
    display: flex;
    gap: 1;
}

.align-center label{
    line-height: 1;
    margin-bottom: 0px;
}

.text-nowrap {
    text-wrap: nowrap;
}