<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Search Bar -->
                <div class="card margin-bottom-10">
                    <div class="content add-content">
                        <div class="align-center">
                            <div class="col-md-4">
                                <!-- <label>Customer:</label> -->
                                <select [(ngModel)]="selectedCustomer" class="form-control" name="customer"
                                    (change)="searchTransactions()">
                                    <option *ngFor="let customer of customers" [value]="customer.value">
                                        {{ customer.label }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <!-- <label>User:</label> -->
                                <select [(ngModel)]="selectedUser" class="form-control" name="user"
                                    (change)="searchTransactions()">
                                    <option *ngFor="let el of users" [value]="el.value">
                                        {{ el.label }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <!-- <label>Status:</label> -->
                                <select [(ngModel)]="selectedStatus" class="form-control" name="status"
                                    (change)="searchTransactions()">
                                    <option *ngFor="let el of sale_status" [value]="el.value">
                                        {{ el.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="align-center">
                            <input type="date" [(ngModel)]="selectedDateFrom" class="form-control"
                                (change)="fetchSearchItems()" name="createdFrom" />
                            <p class="category">&nbsp;&nbsp;~&nbsp;&nbsp;</p>
                            <input type="date" [(ngModel)]="selectedDateTo" class="form-control"
                                (change)="fetchSearchItems()" name="createdTo" />
                            <p class="category">&nbsp;&nbsp;</p>
                            <button class="btn btn-sm btn-danger btn-fill " (click)="clearFilters()">Clear
                                Filters</button>
                        </div>
                    </div>
                </div>

                <!-- Transactions Table -->
                <div class="card">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Receipt</th>
                                    <th>User</th>
                                    <th>Register</th>
                                    <th>Customer</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transaction of filteredTransactions" (click)="editRow(transaction)">
                                    <td>{{ formatDate(transaction.created_at) }}</td>
                                    <td>{{ transaction.sale_number }}</td>
                                    <td class="compact-spacing">
                                        {{ transaction.user_id.first_name}}
                                        {{transaction.user_id.last_name}}<br><small>{{ transaction.user_id.email
                                            }}</small>
                                    </td>
                                    <td>{{ transaction.register.name }}</td>
                                    <td class="compact-spacing">
                                        {{ transaction.customer.name || '' }}
                                        <br><small>{{ transaction.customer.email || '' }}</small>
                                    </td>
                                    <td>{{ transaction.sale_status }}</td>
                                    <td>{{ transaction.total_paid | currency }}</td>
                                    <td>
                                        <!-- <button class="btn btn-sm btn-info" (click)="editRow(transaction)"
                                            data-toggle="tooltip" title="Edit">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button> -->
                                        <button class="btn btn-sm btn-danger" (click)="showDeleteModal(transaction._id)"
                                            data-toggle="tooltip" title="Delete">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-confirm-modal *ngIf="isDeleteModal" [title]="'Remove User'"
    [description]="'Do you really want to remove this User ?'" [confirmButtonCaption]="'Delete'"
    [cancelButtonCaption]="'Cancel'" (confirmed)="deleteRow()" (cancelled)="closeDeleteModal()">
</app-confirm-modal>
<!-- <app-toast></app-toast> -->
<div *ngIf="isshowedit" class="modal-backdrop" (click)="onClose()"></div>
<div *ngIf="isshowedit" class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
        <h3 class="modal-title">Edit SALE Transaction</h3>
        <button type="button" class="close" (click)="onClose()" aria-label="Close">&times;</button>
    </div>
    <div class="modal-body">
        <form>
            <table class="report-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Receipt</th>
                        <th>User</th>
                        <th>Register</th>
                        <th>Customer</th>
                        <th>Outlet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{formatDate(selTransactions.created_at)}}</td>
                        <td>#{{selTransactions.sale_number}}</td>
                        <td>
                            <p style="display:grid ;">
                                <span>
                                    {{ selTransactions.user_id.first_name }} {{ selTransactions.user_id.last_name }}
                                </span>
                                <span style="font-size: small; color: rgb(117, 117, 117);">
                                    {{ selTransactions.user_id.email }}
                                </span>
                            </p>
                        </td>
                        <td>
                            {{ selTransactions.register.name }}
                        </td>
                        <td>
                            <p style="display:grid ;">
                                <span>{{ selTransactions.customer.name || '' }}</span>
                                <span style="font-size: small; color: rgb(117, 117, 117);">
                                    {{ selTransactions.customer.email || '' }}
                                </span>
                            </p>
                        </td>
                        <td>{{selTransactions.outlet?.name||''}}</td>
                    </tr>
                    <tr>
                        <th>Payment<br>Status</th>
                        <th>Sale<br>Status</th>
                        <th>Tax</th>
                        <th>Expect</th>
                        <th>Total</th>
                        <th>Paid</th>
                    </tr>
                    <tr>
                        <td>{{selTransactions.payment_status}}</td>
                        <td>{{selTransactions.sale_status}}</td>
                        <td>{{selTransactions.tax | currency}}</td>
                        <td>{{selTransactions.subtotal |currency}}</td>
                        <td>{{ selTransactions.total | currency }}</td>
                        <td>{{selTransactions.total_paid|currency}}</td>
                    </tr>
                </tbody>
            </table>


            <table class="report-table" style="max-height: 300px;overflow-y: auto;">
                <thead>
                    <tr>
                        <th>Product<br>name</th>
                        <th>Price</th>
                        <th>qty</th>
                        <th>Cost</th>
                        <th>Discount</th>
                        <th>Voided</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of selTransactions.products">
                        <td>{{product.product_name}}</td>
                        <td>{{product.price |currency}}</td>
                        <td>{{product.qty}}</td>
                        <td>{{product.price*product.qty | currency}}</td>
                        <td>{{product.dicount?.value || 0}} %</td>
                        <td>{{product.voided}}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div style="display: flex;text-align: center;align-items: center;">
                <label for="sale_status1">Status:</label>
                <!-- <input [(ngModel)]="selTransactions.sale_status" name="sale_status1" class="form-control" /> -->
                <select [(ngModel)]="selTransactions.sale_status" class="form-control" >                    
                    <option value="" disabled>CLOSED</option>
                    <option value="completed">completed</option>
                    <option value="layby_completed">layby_completed</option>
                    <option value="on_account_completed">on_account_completed</option>
                    <option value="delivery_completed">delivery_completed</option>
                    <option value="pickup_completed">pickup_completed</option>
                    <option value="" disabled>OPEN</option>
                    <option value="layby">layby</option>
                    <option value="on_account">on_account</option>
                    <option value="parked">parked</option>
                    <option value="" disabled>FULLFILLMENT</option>
                    <option value="delivery_unfulfilled">delivery_unfulfilled</option>
                    <option value="pickup_unfulfilled">pickup_unfulfilled</option>
                    <option value="" disabled>RETURN</option>
                    <option value="return_completed">return_completed</option>
                </select>
            </div>
        </div>
        <button class="btn btn-secondary" (click)="onClose()">Cancel</button>
        <button class="btn btn-primary" (click)="onSave()">Save</button>
    </div>
</div>