<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10">
                    <div class="content add-content">
                        <p class="category">Manage the payment types. Need help?</p>
                        <button class="btn btn-sm btn-info btn-fill">Save</button>
                    </div>
                </div>
                <div class="card margin-bottom-10">
                    <div class="content">
                        <div class="table-full-width padding-top-20">
                            <table class="table borderless-table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                                <label for="checkbox1"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Casher
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox2" type="checkbox">
                                                <label for="checkbox2"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Credit Card
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox3" type="checkbox">
                                                <label for="checkbox3"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Visa
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox4" type="checkbox">
                                                <label for="checkbox4"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Master
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox5" type="checkbox">
                                                <label for="checkbox5"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Amex
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox6" type="checkbox">
                                                <label for="checkbox6"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Discover
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox7" type="checkbox">
                                                <label for="checkbox7"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Diners
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox9" type="checkbox">
                                                <label for="checkbox9"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Jcb
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox10" type="checkbox">
                                                <label for="checkbox10"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Debit
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox11" type="checkbox">
                                                <label for="checkbox11"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Gift
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox12" type="checkbox">
                                                <label for="checkbox12"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Rewards
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox13" type="checkbox">
                                                <label for="checkbox13"> </label>
                                            </div>
                                        </td>
                                        <td>
                                            Others
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox14" type="checkbox">
                                                <label for="checkbox14"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Others2
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox15" type="checkbox">
                                                <label for="checkbox15"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Layby
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox16" type="checkbox">
                                                <label for="checkbox16"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Store Credit
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox17" type="checkbox">
                                                <label for="checkbox17"></label>
                                            </div>
                                        </td>
                                        <td>
                                            On Account
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox18" type="checkbox">
                                                <label for="checkbox18"></label>
                                            </div>
                                        </td>
                                        <td>
                                            FoodStamp
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox19" type="checkbox">
                                                <label for="checkbox19"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Check
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox20" type="checkbox">
                                                <label for="checkbox20"></label>
                                            </div>
                                        </td>
                                        <td>
                                            EBT Cash
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox8" type="checkbox">
                                                <label for="checkbox8"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Charge Account
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
