<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10">
                    <div class="content add-content">
                        <p class="category">Manage the payment types. Need help?</p>
                        <button class="btn btn-sm btn-info btn-fill">Save</button>
                    </div>
                </div>
                <div class="card margin-bottom-10">
                    <div class="content">
                        <div class="table-full-width padding-top-20">
                            <table class="table borderless-table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                                <label for="checkbox1">Casher</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox2" type="checkbox">
                                                <label for="checkbox2">Credit Card</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox3" type="checkbox">
                                                <label for="checkbox3">Visa</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox4" type="checkbox">
                                                <label for="checkbox4">Master</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox5" type="checkbox">
                                                <label for="checkbox5">Amex</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox6" type="checkbox">
                                                <label for="checkbox6">Discover</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox7" type="checkbox">
                                                <label for="checkbox7">Diners</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox9" type="checkbox">
                                                <label for="checkbox9">Jcb</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox10" type="checkbox">
                                                <label for="checkbox10">Debit</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox11" type="checkbox">
                                                <label for="checkbox11">Gift</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox12" type="checkbox">
                                                <label for="checkbox12">Rewards</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox13" type="checkbox">
                                                <label for="checkbox13">Others</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox14" type="checkbox">
                                                <label for="checkbox14">Others2</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox15" type="checkbox">
                                                <label for="checkbox15">Layby</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox16" type="checkbox">
                                                <label for="checkbox16">Store Credit</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox17" type="checkbox">
                                                <label for="checkbox17">On Account</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox18" type="checkbox">
                                                <label for="checkbox18">FoodStamp</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox19" type="checkbox">
                                                <label for="checkbox19">Check</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox20" type="checkbox">
                                                <label for="checkbox20">EBT Cash</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox8" type="checkbox">
                                                <label for="checkbox8">Charge Account</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
