<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Modules</a></li>
                    <li role="presentation"><a href="#">Print</a></li>
                    <li role="presentation"><a href="#">Batch/Cashier Closing</a></li>
                    <li role="presentation"><a href="#">Others</a></li>
                    <li role="presentation"><a href="#">System</a></li>
                    <li role="presentation"><a href="#">Employee/Timesheet</a></li>
                </ul>
                <div class="card margin-bottom-0">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox1" type="checkbox">
                                    <label class="padding-top-2" for="checkbox1">Box Barcode Sale Used</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox2" type="checkbox">
                                    <label class="padding-top-2" for="checkbox2">Buying Barcode Sale Used</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox3" type="checkbox">
                                    <label class="padding-top-2" for="checkbox3">Same Code used for different Products</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox4" type="checkbox">
                                    <label class="padding-top-2" for="checkbox4">PDCode and PDBarcode is the same for scale product</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox5" type="checkbox">
                                    <label class="padding-top-2" for="checkbox5">The size of UPC E code is 8 rather than 6</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox6" type="checkbox">
                                    <label class="padding-top-2" for="checkbox6">10 digit barcode used for UPC A</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox7" type="checkbox">
                                    <label class="padding-top-2" for="checkbox7">Price included barcode is $123.45 style</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox8" type="checkbox">
                                    <label class="padding-top-2" for="checkbox8">First 5 digit used instead of 6 digit for price included barcode</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox9" type="checkbox">
                                    <label class="padding-top-2" for="checkbox9">Sale Price Used</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox11" type="checkbox">
                                    <label class="padding-top-2" for="checkbox11">Automatic customer ID used</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox12" type="checkbox">
                                    <label class="padding-top-2" for="checkbox12">Customer information required</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox13" type="checkbox">
                                    <label class="padding-top-2" for="checkbox13">OpenDrawer on Credit payment</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox14" type="checkbox">
                                    <label class="padding-top-2" for="checkbox14">Cash Drawer Open status checked</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox15" type="checkbox">
                                    <label class="padding-top-2" for="checkbox15">Quick open cashdrawer needs password</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox16" type="checkbox">
                                    <label class="padding-top-2" for="checkbox16">Debit over payment allowed (Cashback)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox17" type="checkbox">
                                    <label class="padding-top-2" for="checkbox17">Cashier password prompted for sale screen access</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox18" type="checkbox">
                                    <label class="padding-top-2" for="checkbox18">Cashier password always prompted for each transaction</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox19" type="checkbox">
                                    <label class="padding-top-2" for="checkbox19">Discount password prompted for add discount sale or item</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox20" type="checkbox">
                                    <label class="padding-top-2" for="checkbox20">Sales helper always prompted</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox19" type="checkbox">
                                    <label class="padding-top-2" for="checkbox19">Kg instead of lb</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox20" type="checkbox">
                                    <label class="padding-top-2" for="checkbox20">Weight handled as quantity</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox19" type="checkbox">
                                    <label class="padding-top-2" for="checkbox19">24 Hour Service</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox20" type="checkbox">
                                    <label class="padding-top-2" for="checkbox20">Last item first line displayed</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox19" type="checkbox">
                                    <label class="padding-top-2" for="checkbox19">Alt tab is not allowed</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox19" type="checkbox">
                                    <label class="padding-top-2" for="checkbox19">Barcode generated automatically</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox20" type="checkbox">
                                    <label class="padding-top-2" for="checkbox20">AR account is different form customers</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox19" type="checkbox">
                                    <label class="padding-top-2" for="checkbox19">Tran summary table used</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox20" type="checkbox">
                                    <label class="padding-top-2" for="checkbox20">PD code manual</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox19" type="checkbox">
                                    <label class="padding-top-2" for="checkbox19">Can not update product information</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox20" type="checkbox">
                                    <label class="padding-top-2" for="checkbox20">Canada Penny round used</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox19" type="checkbox">
                                    <label class="padding-top-2" for="checkbox19">Event marketing used</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input id="checkbox20" type="checkbox">
                                    <label class="padding-top-2" for="checkbox20">Price included barcode not used</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="content add-content">
                                <p class="category"></p>
                                <button class="btn btn-sm btn-info btn-fill">Save</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
