<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card position-relative height-506">
                    <div class="header text-center">
                        <h4 class="title">Starter</h4>
                        <hr>
                        <h3 class="title">$ 69</h3>
                        <p class="description">per month</p>
                    </div>
                    <div class="content">
                        <ul class="">
                            <li class="">Single Outlet</li>
                            <li class="margin-bottom-10">1 Register only</li>
                            <li class="">up to 3 users only</li>
                            <li class="margin-bottom-10">Unlimited products & customers</li>
                            <li class="">Loyalty</li>
                            <li class="margin-bottom-10">Advance reporting</li>
                            <li class="">Email & Chat Support</li>
                        </ul>
                    </div>
                    <div class="position-footer">
                        <hr>
                        <button class="btn btn-sm btn-info btn-fill margin-bottom-20 text-center">Select Plan</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card position-relative height-506">
                    <div class="header text-center">
                        <h4 class="title">Advanced</h4>
                        <hr>
                        <h3 class="title">$ 89</h3>
                        <p class="description">per month</p>
                    </div>
                    <div class="content">
                        <ul class="">
                            <li class="margin-bottom-10">Start with 1 register(add more as you grow)</li>
                            <li class="">up to 3 users</li>
                            <li class="margin-bottom-10">Unlimited products, customers</li>
                            <li class="">Gift cards</li>
                            <li class="">Loyalty</li>
                            <li class="">Ecommerece</li>
                            <li class="">Advance Reporting</li>
                            <li class="margin-bottom-10">Advanced User Permissions</li>
                            <li class="">Email & Chat Support</li>
                        </ul>
                    </div>
                    <div class="position-footer">
                        <hr>
                        <button class="btn btn-sm btn-info btn-fill margin-bottom-20">Select Plan</button>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                                <h4 class="title">Mike Andrew<br />
                                    <small>michael24</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Lamborghini Mercy <br>
                            Your chick she so thirsty <br>
                            I'm in that two seat Lambo"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                                <h4 class="title">Mike Andrew<br />
                                    <small>michael24</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Lamborghini Mercy <br>
                            Your chick she so thirsty <br>
                            I'm in that two seat Lambo"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
