<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10" *ngIf="!isContentVisible">
                    <div class="content add-content">
                        <div class="">
                            <!-- <button class="btn btn-sm btn-info btn-fill">Search</button>
                            <button class="btn btn-sm btn-info btn-fill">Search</button>
                            <button class="btn btn-sm btn-info btn-fill">Search</button> -->
                        </div>
                        <div class="">
                            <button class="btn btn-sm btn-info btn-fill" (click)="toggleContent()">Add New</button>
                        </div>
                    </div>
                </div>
                <div class="card margin-bottom-10" *ngIf="isContentVisible">
                    <div class="header">
                        <h4 class="title">{{ currentRow._id ? 'Update' : 'Add' }} a category</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content">                        
                        <form (ngSubmit)="saveRow()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" class="form-control" placeholder="Name" id="name" [(ngModel)]="currentRow.name" name="name" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="description">Description:</label>
                                        <input type="text" class="form-control" placeholder="Description" id="description" [(ngModel)]="currentRow.description" name="description" required />
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-sm btn-info btn-fill pull-right">{{ currentRow._id ? 'Update' : '&nbsp;&nbsp;Add&nbsp;&nbsp;' }}</button>
                            <button type="button" class="btn btn-sm btn-info btn-fill pull-right" (click)="cancelEdit()">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card" *ngIf="!isContentVisible">
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of data">
                                        <td>{{ row.name }}</td>
                                        <td>{{ row.description }}</td>
                                        <td>
                                            <button class="btn btn-sm btn-info" (click)="editRow(row)" data-toggle="tooltip" title="Edit">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </button>
                                            <button class="btn btn-sm btn-danger" (click)="showDeleteModal(row._id)" data-toggle="tooltip" title="Delete">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="data.length == 0">
                                        <td colspan="7">
                                            <div class="content margin-top-10 margin-bottom-10">
                                                <p class="text-center description">No Data</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-confirm-modal *ngIf="isDeleteModal" [title]="'Remove Attribute'"
    [description]="'Do you really want to remove this attribute ?'" [confirmButtonCaption]="'Delete'"
    [cancelButtonCaption]="'Cancel'" (confirmed)="deleteRow()" (cancelled)="closeDeleteModal()">
</app-confirm-modal>
<app-toast></app-toast>

