<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Search Bar -->
                <div class="card margin-bottom-0">
                    <div class="content add-content">
                        <div>

                            <div class="align-center">

                                <label class="text-nowrap">Period:</label>
                                <p class="category">&nbsp;&nbsp;</p>
                                <input type="date" [(ngModel)]="selectedDateFrom" class="form-control"
                                    (change)="filterByDate()" name="startDate" />
                                <p class="category">&nbsp;&nbsp;~&nbsp;&nbsp;</p>
                                <input type="date" [(ngModel)]="selectedDateTo" class="form-control"
                                    (change)="filterByDate()" name="endDate" />
                                <label class="text-nowrap">&nbsp;&nbsp;Register:&nbsp;</label>
                                <select class="form-control" [(ngModel)]="selectedRegister" style="flex-grow: 1;"
                                    (change)="searchRecords()">
                                    <option *ngFor="let register of sel_reg" [value]="register.id">{{ register.label }}
                                    </option>
                                </select>
                            </div>
                            <div style="display: flex;">
                                <!-- <button class="btn btn-sm btn-danger btn-fill" style="margin-right: 1rem;">Clear
                                    Filters</button> -->
                                <!-- <button class="btn btn-sm btn-info btn-fill" (click)="searchRecords()">Search</button> -->
                            </div>
                        </div>
                        <div class="align-center">
                            <button class="btn btn-sm btn-danger btn-fill">Clear Filters</button>
                            <button class="btn btn-sm btn-info btn-fill" (click)="printContent()">
                                &nbsp;&nbsp;&nbsp;&nbsp;Print&nbsp;&nbsp;&nbsp;&nbsp;
                            </button>
                            <button class="btn btn-sm btn-info btn-fill" (click)="exportContent()">
                                &nbsp;&nbsp;&nbsp;Export&nbsp;&nbsp;&nbsp;
                            </button>
                        </div>
                        <!-- <button class="btn btn-sm btn-info btn-fill" (click)="searchRecords()">Search</button> -->

                    </div>
                </div>

                <!-- Transactions Table -->
                <div class="card">
                    <div class="content table-responsive table-full-width" style="height: 64vh;overflow-y: auto;">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Register</th>
                                    <th>Time Opened</th>
                                    <th>Time Closed</th>
                                    <th>Store Credit</th>
                                    <th>Cash <br>(Concealed Total)</th>
                                    <th>Cash</th>
                                    <th>Credit</th>
                                    <th>Debit</th>
                                    <th>Other</th>
                                    <th>Refunds</th>
                                    <th>Voided</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3"><strong>Total</strong></td>
                                    <td><strong>{{ (total_sum.store_credit || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.cash_concealed || '') | currency }}</strong></td>
                                    <td><strong>{{ ((total_sum.cash*1 +total_sum.cash_d*1 ) || '') | currency
                                            }}</strong></td>
                                    <td><strong>{{ (total_sum.credit || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.debit || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.other || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.refunds || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.voided || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.total || '') | currency }}</strong></td>
                                </tr>
                                <ng-container *ngFor="let item of filteredRecords">
                                    <tr (click)="showDetails(item)">
                                        <td>{{ item?.register?.name }}</td>
                                        <td>{{ item?.formattedOpeningTime }}</td>
                                        <td>{{ item?.formattedClosingTime }}</td>
                                        <td>{{ (item?.open_value||'') | currency }}</td>
                                        <td>{{ item?.cash_concealed || '' | currency }}</td>
                                        <td>{{ ((item?.cash+item?.cash_d) || '') | currency }}</td>
                                        <td>{{ (item?.credit || '') | currency }}</td>
                                        <td>{{ (item?.debit || '') | currency }}</td>
                                        <td>{{ (item?.other || '') | currency }}</td>
                                        <td>{{ (item?.refunds || '') | currency }}</td>
                                        <td>{{ (item?.voided || '') | currency }}</td>
                                        <td>{{ (item?.total || '') | currency }}</td>
                                        <!-- <td>{{ ((item.open_value+
                                            item.cash_concealed+
                                            item.cash+
                                            item.credit+
                                            item.debit+
                                            item.voided
                                            )||'') | currency }}</td> -->
                                    </tr>
                                </ng-container>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <app-pagination class="float-right" [totalCount]="totalItems" [countsPerPageOptions]="[5, 10, 20, 50]"
            (pageChanged)="onPageChanged($event)" (countPerPageChanged)="onCountPerPageChanged($event)">
        </app-pagination>
    </div>
</div>

<div class="modal-overlay" *ngIf="isShowdetailflag" (click)="onBackdropClick($event)">
    <div class="modal-content" *ngIf="isShowdetailflag" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span class="modal-title">OpenClose Information
                <span style="color: #696969;">
                    ({{selectedRecord?.opening_time |date}}-
                    {{selectedRecord?.closing_time |date}})
                </span>
            </span>
            <button class="close-button" (click)="onBackdropClick(selectedRecord)">×</button>
        </div>

        <!-- Register Details -->
        <div class="modal-body">
            <table>
                <thead>
                    <th>Outlet</th>
                    <th>Register</th>
                    <th>ID#</th>
                    <th>Open Time</th>
                    <th>Close Time</th>
                </thead>
                <tbody>
                    <td>{{selectedRecord?.outlet?.name}}<br>{{openclose?.outlet?.email}}</td>
                    <td>{{selectedRecord?.register?.name}}</td>
                    <td>{{selectedRecord?.uid}}</td>
                    <td>
                        {{selectedRecord?.opening_time | date}}<br>
                        {{selectedRecord?.opening_time | date:'shortTime' }}
                    </td>
                    <td>
                        {{selectedRecord?.closing_time | date}}<br>
                        {{selectedRecord?.closing_time | date:'shortTime' }}
                    </td>
                </tbody>
            </table>

            <!-- register cloures -->
            <table>
                <thead>
                    <th>Store<br>Credit</th>
                    <th>Cash<br>(Conceal)</th>
                    <th>Cash</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Other</th>
                    <th>Refunds</th>
                    <th>Voided</th>
                    <th>Total</th>

                </thead>
                <tbody>
                    <td>{{ (selectedRecord?.open_value) | currency }}</td>
                    <td>{{ selectedRecord?.cash_concealed | currency }}</td>
                    <td>{{ ((selectedRecord?.cash+selectedRecord?.cash_d) ) | currency }}</td>
                    <td>{{ (selectedRecord?.credit ) | currency }}</td>
                    <td>{{ (selectedRecord?.debit ) | currency }}</td>
                    <td>{{ (selectedRecord?.other ) | currency }}</td>
                    <td>{{ (selectedRecord?.refunds ) | currency }}</td>
                    <td>{{ (selectedRecord?.voided ) | currency }}</td>
                    <td>{{ (selectedRecord?.total ) | currency }}</td>
                </tbody>
            </table>

            <table>
                <thead style="text-align: center;">
                    <tr>
                        <th colspan="4">Sold</th>
                        <th colspan="4">Refunds</th>
                        <th colspan="4">Voided</th>

                    </tr>
                    <tr>
                        <th>Payment</th>
                        <th>Net<br>Sale</th>
                        <th>Tax</th>
                        <th>Tips<br>(cash/none)</th>
                        <th>Payment</th>
                        <th>Net<br>Sale</th>
                        <th>Tax</th>
                        <th>Tips<br>(cash/none)</th>
                        <th>Payment</th>
                        <th>Net<br>Sale</th>
                        <th>Tax</th>
                        <th>Tips<br>(cash/none)</th>

                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>{{detail_records.all && detail_records.all.paymentinfo.sum || 0 |currency}}</td>
                        <td>{{detail_records.all && detail_records.all.categoryinfo.sum || 0|currency}}</td>
                        <td>{{detail_records.all && detail_records.all.sel_info.tax||0 |currency}}</td>
                        <td>{{detail_records.all && detail_records.all.sel_info.cash_tip || 0|currency}}/<br>
                            {{detail_records.all && detail_records.all.sel_info.tip || 0 |currency}}
                        </td>

                        <td>{{detail_records.all && detail_records.return.paymentinfo.sum || 0 |currency}}</td>
                        <td>{{detail_records.all && detail_records.return.categoryinfo.sum || 0|currency}}</td>
                        <td>{{detail_records.all && detail_records.return.sel_info.tax || 0|currency}}</td>
                        <td>{{detail_records.all && detail_records.return.sel_info.cash_tip || 0|currency}}/<br>
                            {{detail_records.all && detail_records.return.sel_info.tip || 0|currency}}
                        </td>

                        <td>{{detail_records.all && detail_records.voided.paymentinfo.sum || 0 |currency}}</td>
                        <td>{{detail_records.all && detail_records.voided.categoryinfo.sum || 0 |currency}}</td>
                        <td>{{detail_records.all && detail_records.voided.sel_info.tax || 0 |currency}}</td>
                        <td>{{detail_records.all && detail_records.voided.sel_info.cash_tip || 0 |currency}}/<br>
                            {{detail_records.all && detail_records.voided.sel_info.tip || 0 |currency}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{detail_records.all && detail_records.all.paymentinfo.sum || 0 |currency}}</td>
                        <td colspan="3"> {{
                            detail_records.all && (
                            detail_records.all.categoryinfo.sum +
                            detail_records.all.sel_info.tax+
                            detail_records.all.sel_info.cash_tip+
                            detail_records.all.sel_info.tip) || 0 |currency}}
                        </td>

                        <td>{{detail_records.all && detail_records.return.paymentinfo.sum || 0 |currency}}</td>
                        <td colspan="3"> {{
                            detail_records.all &&
                            (detail_records.return.categoryinfo.sum +
                            detail_records.return.sel_info.tax+
                            detail_records.return.sel_info.cash_tip+
                            detail_records.return.sel_info.tip) || 0|currency}}
                        </td>

                        <td>{{detail_records.all && detail_records.voided.paymentinfo.sum || 0 |currency}}</td>
                        <td colspan="3"> {{
                            detail_records.all &&
                            (detail_records.voided.categoryinfo.sum +
                            detail_records.voided.sel_info.tax+
                            detail_records.voided.sel_info.cash_tip+
                            detail_records.voided.sel_info.tip)||0 |currency}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            {{
                            detail_records.all && 
                            (detail_records.all.paymentinfo.sum-
                            detail_records.all.categoryinfo.sum -
                            detail_records.all.sel_info.tax-
                            detail_records.all.sel_info.cash_tip-
                            detail_records.all.sel_info.tip)||0|currency}}
                        </td>
                        <td colspan="4">
                            {{
                            detail_records.all && 
                            (detail_records.return.paymentinfo.sum-
                            detail_records.return.categoryinfo.sum -
                            detail_records.return.sel_info.tax-
                            detail_records.return.sel_info.cash_tip-
                            detail_records.return.sel_info.tip)||0 |currency}}
                        </td>
                        <td colspan="4">
                            {{
                            detail_records.all && 
                            (detail_records.voided.paymentinfo.sum-
                            detail_records.voided.categoryinfo.sum -
                            detail_records.voided.sel_info.tax-
                            detail_records.voided.sel_info.cash_tip-
                            detail_records.voided.sel_info.tip)||0|currency}}
                        </td>

                    </tr>
                </tbody>
            </table>

            <!-- <div style="display: grid; grid-template-columns: repeat(2, 1fr); overflow-y: auto; "> -->
            <!-- <div style="display: grid; grid-template-columns: 35% 1fr; overflow-y: auto; "> -->


            <table>
                <thead>
                    <th style="width: 40%;">
                        Payment Type
                    </th>
                    <th>
                        Amount
                    </th>
                </thead>
                <tr>
                    <td><b>SUM</b></td>
                    <td><b>{{sel_total_payment.sum+detail_records.cash|currency}}</b></td>
                </tr>
                <tr>
                    <td><b>Cash(direct)</b></td>
                    <td>{{detail_records.cash|currency}}</td>
                </tr>
                <tr *ngFor="let pay of sel_total_payment |keyvalue">
                    <ng-container *ngIf="pay.key !== 'sum'">
                        <td><b>{{ pay.key }}</b></td>
                        <td>{{ pay.value |currency}}</td>
                    </ng-container>
                </tr>
            </table>
            <table>
                <tbody *ngIf="!(detail_records?.all?.categoryinfo?.length > 0)">
                    <tr>
                        <th>Category</th>
                        <th>Qty</th>
                        <th>Cost</th>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Total</b></td>
                        <td>{{ detail_records.all.categoryinfo && detail_records.all.categoryinfo.sum || 0 |currency}}
                        </td>
                    </tr>

                    <tr
                        *ngFor="let category of  detail_records.all.categoryinfo &&  detail_records.all.categoryinfo  | keyvalue">
                        <ng-container *ngIf="category.key !== 'sum'">
                            <td><b>{{ category.value.name || '' }}</b></td>
                            <td>{{ category.value.qty || '' }}</td>
                            <td>{{ category.value.cost | currency }}</td>
                        </ng-container>
                    </tr>
                </tbody>


            </table>

        </div>
    </div>
</div>