<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Search Bar -->
                <div class="card margin-bottom-0">
                    <div class="content add-content">
                        <div>

                            <div class="align-center">

                                <label class="text-nowrap">Period:</label>
                                <p class="category">&nbsp;&nbsp;</p>
                                <input type="date" [(ngModel)]="selectedDateFrom" class="form-control"
                                    (change)="filterByDate()" name="startDate" />
                                <p class="category">&nbsp;&nbsp;~&nbsp;&nbsp;</p>
                                <input type="date" [(ngModel)]="selectedDateTo" class="form-control"
                                    (change)="filterByDate()" name="endDate" />
                                <label class="text-nowrap">&nbsp;&nbsp;Register:&nbsp;</label>
                                <select class="form-control" [(ngModel)]="selectedRegister" style="flex-grow: 1;"
                                    (change)="searchRecords()">
                                    <option *ngFor="let register of sel_reg" [value]="register.id">{{ register.label }}
                                    </option>
                                </select>
                            </div>
                            <div style="display: flex;">
                                <!-- <button class="btn btn-sm btn-danger btn-fill" style="margin-right: 1rem;">Clear
                                    Filters</button> -->
                                <!-- <button class="btn btn-sm btn-info btn-fill" (click)="searchRecords()">Search</button> -->
                            </div>
                        </div>
                        <div class="align-center">
                            <button class="btn btn-sm btn-danger btn-fill">Clear Filters</button>
                            <button class="btn btn-sm btn-info btn-fill" (click)="printContent()">
                                &nbsp;&nbsp;&nbsp;&nbsp;Print&nbsp;&nbsp;&nbsp;&nbsp;
                            </button>
                            <button class="btn btn-sm btn-info btn-fill" (click)="exportContent()">
                                &nbsp;&nbsp;&nbsp;Export&nbsp;&nbsp;&nbsp;
                            </button>
                        </div>
                        <!-- <button class="btn btn-sm btn-info btn-fill" (click)="searchRecords()">Search</button> -->

                    </div>
                </div>

                <!-- Transactions Table -->
                <div class="card">
                    <div class="content table-responsive table-full-width" style="height: 64vh;overflow-y: auto;">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Register</th>
                                    <th>Time Opened</th>
                                    <th>Time Closed</th>
                                    <th>Store Credit</th>
                                    <th>Cash <br>(Concealed Total)</th>
                                    <th>Cash</th>
                                    <th>Credit</th>
                                    <th>Debit</th>
                                    <th>Other</th>
                                    <th>Refunds</th>
                                    <th>Voided</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3"><strong>Total</strong></td>
                                    <td><strong>{{ (total_sum.store_credit || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.cash_concealed || '') | currency }}</strong></td>
                                    <td><strong>{{ ((total_sum.cash*1 +total_sum.cash_d*1 ) || '') | currency
                                            }}</strong></td>
                                    <td><strong>{{ (total_sum.credit || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.debit || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.other || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.refunds || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.voided || '') | currency }}</strong></td>
                                    <td><strong>{{ (total_sum.total || '') | currency }}</strong></td>
                                </tr>
                                <ng-container *ngFor="let item of filteredRecords">
                                    <tr (click)="showDetails(item)">
                                        <td>{{ item?.register?.name }}</td>
                                        <td>{{ item?.formattedOpeningTime }}</td>
                                        <td>{{ item?.formattedClosingTime }}</td>
                                        <td>{{ (item?.open_value||'') | currency }}</td>
                                        <td>{{ item?.cash_concealed || '' | currency }}</td>
                                        <td>{{ ((item?.cash+item?.cash_d) || '') | currency }}</td>
                                        <td>{{ (item?.credit || '') | currency }}</td>
                                        <td>{{ (item?.debit || '') | currency }}</td>
                                        <td>{{ (item?.other || '') | currency }}</td>
                                        <td>{{ (item?.refunds || '') | currency }}</td>
                                        <td>{{ (item?.voided || '') | currency }}</td>
                                        <td>{{ (item?.total || '') | currency }}</td>
                                        <!-- <td>{{ ((item.open_value+
                                            item.cash_concealed+
                                            item.cash+
                                            item.credit+
                                            item.debit+
                                            item.voided
                                            )||'') | currency }}</td> -->
                                    </tr>
                                </ng-container>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- <app-pagination class="float-right" [totalCount]="totalItems" [countsPerPageOptions]="[5, 10, 20, 50]"
            (pageChanged)="onPageChanged($event)" (countPerPageChanged)="onCountPerPageChanged($event)">
        </app-pagination> -->
    </div>
</div>
<!-- <div class="details-container" *ngIf="isShowdetailflag" (click)="onBackdropClick($event)">
    <div class="details-box"  *ngIf="isShowdetailflag" (click)="$event.stopPropagation()">
        <h4>Details for Register: {{ selectedRecord.register }}</h4>
        <p><strong>Time Opened:</strong> {{ selectedRecord.timeOpened }}</p>
        <p><strong>Time Closed:</strong> {{ selectedRecord.timeClosed }}</p>
        <p><strong>Store Credit:</strong> {{ selectedRecord.storeCredit | currency }}</p>
        <p><strong>Cash Concealed Total:</strong> {{ selectedRecord.cashConcealedTotal | currency }}</p>
        <p><strong>Cash:</strong> {{ selectedRecord.cash | currency }}</p>
        <p><strong>Credit:</strong> {{ selectedRecord.credit | currency }}</p>
        <p><strong>Debit:</strong> {{ selectedRecord.debit | currency }}</p>
        <p><strong>Refunds:</strong> {{ selectedRecord.refunds | currency }}</p>
        <p><strong>Voided:</strong> {{ selectedRecord.voided | currency }}</p>
        <p><strong>Total:</strong> {{ selectedRecord.total | currency }}</p>
        <button (click)="onBackdropClick(selectedRecord)">Close</button>

    </div>
</div> -->
<div class="modal-overlay" *ngIf="isShowdetailflag" (click)="onBackdropClick($event)">
    <div class="modal-content" *ngIf="isShowdetailflag" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span class="modal-title">OpenClose Information
                <span style="color: #696969;">
                    ({{selectedRecord?.opening_time |date}}-
                    {{selectedRecord?.closing_time |date}})
                </span>
            </span>
            <button class="close-button" (click)="onBackdropClick(selectedRecord)">×</button>
        </div>
        <!-- <table class="details-table">
            <tbody>
                <tr>
                    <td><strong>Time Opened:</strong></td>
                    <td>{{ selectedRecord.timeOpened }}</td>
                </tr>
                <tr>
                    <td><strong>Time Closed:</strong></td>
                    <td>{{ selectedRecord.timeClosed }}</td>
                </tr>
                <tr>
                    <td><strong>Store Credit:</strong></td>
                    <td>{{ selectedRecord.storeCredit | currency }}</td>
                </tr>
                <tr>
                    <td><strong>Cash Concealed Total:</strong></td>
                    <td>{{ selectedRecord.cashConcealedTotal | currency }}</td>
                </tr>
                <tr>
                    <td><strong>Cash:</strong></td>
                    <td>{{ selectedRecord.cash | currency }}</td>
                </tr>
                <tr>
                    <td><strong>Credit:</strong></td>
                    <td>{{ selectedRecord.credit | currency }}</td>
                </tr>
                <tr>
                    <td><strong>Debit:</strong></td>
                    <td>{{ selectedRecord.debit | currency }}</td>
                </tr>
                <tr>
                    <td><strong>Refunds:</strong></td>
                    <td>{{ selectedRecord.refunds | currency }}</td>
                </tr>
                <tr>
                    <td><strong>Voided:</strong></td>
                    <td>{{ selectedRecord.voided | currency }}</td>
                </tr>
                <tr>
                    <td><strong>Total:</strong></td>
                    <td>{{ selectedRecord.total | currency }}</td>
                </tr>
            </tbody>
        </table> -->
        <!-- Register Details -->
        <div class="modal-body">
            <table>
                <thead>
                    <th>Outlet</th>
                    <th>Register</th>
                    <th>ID#</th>
                    <th>Open Time</th>
                    <th>Close Time</th>
                </thead>
                <tbody>
                    <td>{{selectedRecord?.outlet?.name}}<br>{{openclose?.outlet?.email}}</td>
                    <td>{{selectedRecord?.register?.name}}</td>
                    <td>{{selectedRecord?.uid}}</td>
                    <td>
                        {{selectedRecord?.opening_time | date}}<br>
                        {{selectedRecord?.opening_time | date:'shortTime' }}
                    </td>
                    <td>
                        {{selectedRecord?.closing_time | date}}<br>
                        {{selectedRecord?.closing_time | date:'shortTime' }}
                    </td>
                </tbody>
            </table>

            <!-- register cloures -->
            <table>
                <thead>
                    <th>Store<br>Credit</th>
                    <th>Cash<br>(Conceal)</th>
                    <th>Cash</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Other</th>
                    <th>Refunds</th>
                    <th>Voided</th>
                    <th>Total</th>

                </thead>
                <tbody>
                    <td>{{ (selectedRecord?.open_value) | currency }}</td>
                    <td>{{ selectedRecord?.cash_concealed | currency }}</td>
                    <td>{{ ((selectedRecord?.cash+selectedRecord?.cash_d) ) | currency }}</td>
                    <td>{{ (selectedRecord?.credit ) | currency }}</td>
                    <td>{{ (selectedRecord?.debit ) | currency }}</td>
                    <td>{{ (selectedRecord?.other ) | currency }}</td>
                    <td>{{ (selectedRecord?.refunds ) | currency }}</td>
                    <td>{{ (selectedRecord?.voided ) | currency }}</td>
                    <td>{{ (selectedRecord?.total ) | currency }}</td>
                </tbody>
            </table>

            <table>
                <thead style="text-align: center;">
                    <tr>
                        <th colspan="4">Sold</th>
                        <th colspan="4">Refunds</th>
                        <th colspan="4">Voided</th>

                    </tr>
                    <tr>
                        <th>Payment</th>
                        <th>Net<br>Sale</th>
                        <th>Tax</th>
                        <th>Tips<br>(cash/none)</th>
                        <th>Payment</th>
                        <th>Net<br>Sale</th>
                        <th>Tax</th>
                        <th>Tips<br>(cash/none)</th>
                        <th>Payment</th>
                        <th>Net<br>Sale</th>
                        <th>Tax</th>
                        <th>Tips<br>(cash/none)</th>

                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>{{detail_records.all.paymentinfo.sum |currency}}</td>
                        <td>{{detail_records.all.categoryinfo.sum|currency}}</td>
                        <td>{{detail_records.all.sel_info.tax|currency}}</td>
                        <td>{{detail_records.all.sel_info.cash_tip|currency}}/<br>
                            {{detail_records.all.sel_info.tip|currency}}
                        </td>

                        <td>{{detail_records.return.paymentinfo.sum |currency}}</td>
                        <td>{{detail_records.return.categoryinfo.sum|currency}}</td>
                        <td>{{detail_records.return.sel_info.tax|currency}}</td>
                        <td>{{detail_records.return.sel_info.cash_tip|currency}}/<br>
                            {{detail_records.return.sel_info.tip|currency}}
                        </td>

                        <td>{{detail_records.voided.paymentinfo.sum |currency}}</td>
                        <td>{{detail_records.voided.categoryinfo.sum|currency}}</td>
                        <td>{{detail_records.voided.sel_info.tax|currency}}</td>
                        <td>{{detail_records.voided.sel_info.cash_tip|currency}}/<br>
                            {{detail_records.voided.sel_info.tip|currency}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{detail_records.all.paymentinfo.sum |currency}}</td>
                        <td colspan="3"> {{(detail_records.all.categoryinfo.sum +
                            detail_records.all.sel_info.tax+
                            detail_records.all.sel_info.cash_tip+
                            detail_records.all.sel_info.tip)|currency}}
                        </td>

                        <td>{{detail_records.return.paymentinfo.sum |currency}}</td>
                        <td colspan="3"> {{(detail_records.return.categoryinfo.sum +
                            detail_records.return.sel_info.tax+
                            detail_records.return.sel_info.cash_tip+
                            detail_records.return.sel_info.tip)|currency}}
                        </td>

                        <td>{{detail_records.voided.paymentinfo.sum |currency}}</td>
                        <td colspan="3"> {{(detail_records.voided.categoryinfo.sum +
                            detail_records.voided.sel_info.tax+
                            detail_records.voided.sel_info.cash_tip+
                            detail_records.voided.sel_info.tip)|currency}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            {{(detail_records.all.paymentinfo.sum-
                            detail_records.all.categoryinfo.sum -
                            detail_records.all.sel_info.tax-
                            detail_records.all.sel_info.cash_tip-
                            detail_records.all.sel_info.tip)|currency}}
                        </td>
                        <td colspan="4">
                            {{(detail_records.return.paymentinfo.sum-
                            detail_records.return.categoryinfo.sum -
                            detail_records.return.sel_info.tax-
                            detail_records.return.sel_info.cash_tip-
                            detail_records.return.sel_info.tip)|currency}}
                        </td>
                        <td colspan="4">
                            {{(detail_records.voided.paymentinfo.sum-
                            detail_records.voided.categoryinfo.sum -
                            detail_records.voided.sel_info.tax-
                            detail_records.voided.sel_info.cash_tip-
                            detail_records.voided.sel_info.tip)|currency}}
                        </td>

                    </tr>
                </tbody>
            </table>

            <!-- <div style="display: grid; grid-template-columns: repeat(2, 1fr); overflow-y: auto; "> -->
            <!-- <div style="display: grid; grid-template-columns: 35% 1fr; overflow-y: auto; "> -->


            <table>
                <thead>
                    <th style="width: 40%;">
                        Payment Type
                    </th>
                    <th>
                        Amount
                    </th>
                </thead>
                <tr>
                    <td><b>SUM</b></td>
                    <td><b>{{sel_total_payment.sum+detail_records.cash|currency}}</b></td>
                </tr>
                <tr>
                    <td><b>Cash(direct)</b></td>
                    <td>{{detail_records.cash|currency}}</td>
                </tr>
                <tr *ngFor="let pay of sel_total_payment |keyvalue">
                    <ng-container *ngIf="pay.key !== 'sum'">
                        <td><b>{{ pay.key }}</b></td>
                        <td>{{ pay.value |currency}}</td>
                    </ng-container>
                </tr>
            </table>
            <table>
                <!-- <tr>
                    <td><b>Sold</b></td>
                    <td colspan="4"><b>{{detail_records?.all?.categoryinfo?.sum || 0 |currency}}</b></td>
                </tr> -->
                <!-- <tr>
                    <td><b>Return</b></td>
                    <td colspan="4"><b>{{detail_records?.reutrn?.categoryinfo?.sum || 0 |currency}}</b></td>
                </tr>
                <tr>
                    <td><b>Voided</b></td>
                    <td colspan="4"><b>{{detail_records?.voided?.categoryinfo?.sum || 0 |currency}}</b></td>
                </tr>

                <tr>
                    <td><b>Total</b></td>
                    <td colspan="4"><b>{{sel_total_caetory.sum|currency}}</b></td>
                </tr> -->

                <tbody *ngIf="!(detail_records?.all?.categoryinfo?.length > 0)">

                    <!-- <tr>
                        <td colspan="5"><strong>SOLD</strong></td>
                    </tr> -->

                    <tr>
                        <th>Category</th>
                        <th>Qty</th>
                        <th>Cost</th>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Total</b></td>
                        <td>{{detail_records.all.categoryinfo.sum |currency}}</td>
                    </tr>

                    <tr *ngFor="let category of detail_records.all.categoryinfo | keyvalue">
                        <ng-container *ngIf="category.key !== 'sum'">
                            <td><b>{{ category.value.name || '' }}</b></td>
                            <td>{{ category.value.qty || '' }}</td>
                            <td>{{ category.value.cost | currency }}</td>
                        </ng-container>
                    </tr>
                </tbody>
                <!-- <tbody *ngIf="!(detail_records?.return?.categoryinfo?.length > 0)">

                    <tr>
                        <td colspan="5"><strong>Return</strong></td>
                    </tr>
                    <tr>

                        <th>Product</th>
                        <th>price</th>
                        <th>qty</th>
                        <th>Value</th>
                        <th>discount</th>
                    </tr>
                    <tr *ngFor="let product of detail_records.return.categoryinfo | keyvalue">
                        <ng-container *ngIf="product.key !== 'sum'">
                            <td><b>{{ product?.value.product_name || '' }}</b></td>
                            <td>{{ product?.value.price || '' | currency }}</td>
                            <td>{{ product?.value.qty || '' }}</td>
                            <td>{{ product?.value.qty*product?.value.price |currency }}</td>
                            <td>{{ product?.value.discount.value || '' }}%</td>
                        </ng-container>
                    </tr>
                </tbody> -->
                <!-- <tbody *ngIf="!(detail_records?.voided?.categoryinfo?.length > 0)">
                    <tr>
                        <td colspan="5"><strong>Voided</strong></td>
                    </tr>
                    <tr>
                        <th>Product</th>
                        <th>price</th>
                        <th>qty</th>
                        <th>Value</th>
                        <th>discount</th>
                    </tr>
                    <tr *ngFor="let product of detail_records.voided.categoryinfo | keyvalue">
                        <ng-container *ngIf="product.key !== 'sum'">
                            <td><b>{{ product?.value.product_name || '' }}</b></td>
                            <td>{{ product?.value.price || '' | currency }}</td>
                            <td>{{ product?.value.qty || '' }}</td>
                            <td>{{ product?.value.qty*product?.value.price |currency }}</td>
                            <td>{{ product?.value.discount.value || '' }}%</td>
                        </ng-container>
                    </tr>
                </tbody> -->

            </table>
            <!-- </div> -->

        </div>
    </div>
</div>