<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10" *ngIf="!isContentVisible && !isImportContentVisible">
                    <div class="content add-content">
                        <p class="category">Manage users and their sales targets. Need help?</p>
                        <div>
                            <button class="btn btn-sm btn-info btn-fill" (click)="toggleContent()">Add</button>
                            <button class="btn btn-sm btn-info btn-fill" (click)="toggleImportContent()">Import</button>
                        </div>
                    </div>
                </div>
                <div class="card margin-bottom-0" *ngIf="isContentVisible">
                    <div class="header">
                        <h4 class="title">Add a user</h4>
                    </div>
                    <div class="content">                        
                        <form (ngSubmit)="saveRow()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>First Name:</label>
                                        <input type="text" class="form-control" placeholder="First Name" id="firstname" [(ngModel)]="currentRow.firstname" name="firstname" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Last Name:</label>
                                        <input type="text" class="form-control" placeholder="Last Name" id="lastname" [(ngModel)]="currentRow.lastname" name="lastname" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="email" class="form-control" placeholder="Email" id="email" [(ngModel)]="currentRow.email" name="email" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Password:</label>
                                        <input type="password" class="form-control" placeholder="Password" id="password" [(ngModel)]="currentRow.password" name="password" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Phone:</label>
                                        <input type="text" class="form-control" placeholder="Phone" id="phone" [(ngModel)]="currentRow.phone" name="phone" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Mobile:</label>
                                        <input type="email" class="form-control" placeholder="Mobile" id="mobile" [(ngModel)]="currentRow.mobile" name="mobile" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Birthday:</label>
                                        <input type="date" class="form-control" id="birthday" [(ngModel)]="currentRow.birthday" name="birthday" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Joined Date:</label>
                                        <input type="date" class="form-control" id="joineddate" [(ngModel)]="currentRow.joineddate" name="joineddate" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Role:</label>
                                        <select 
                                            class="form-control" 
                                            id="role-select" 
                                            [(ngModel)]="selectedRole"
                                        >
                                            <option *ngFor="let role of roles" [value]="currentRow.role">{{ role }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Outlet:</label>
                                        <select 
                                            class="form-control" 
                                            id="outlet-select" 
                                            [(ngModel)]="selectedOutlet"
                                        >
                                            <option *ngFor="let outlet of outlets" [value]="currentRow.outlet">{{ outlet }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address:</label>
                                        <input type="text" class="form-control" id="address" [(ngModel)]="currentRow.address" name="address" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City:</label>
                                        <input type="text" class="form-control" placeholder="City" id="city" [(ngModel)]="currentRow.city" name="city" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>State:</label>
                                        <input type="text" class="form-control" placeholder="State" id="state" [(ngModel)]="currentRow.state" name="state" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Post Code:</label>
                                        <input type="text" class="form-control" placeholder="Post Code" id="postcode" [(ngModel)]="currentRow.postcode" name="postcode" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country:</label>
                                        <select 
                                            class="form-control" 
                                            id="outlet-select" 
                                            [(ngModel)]="selectedOutlet"
                                        >
                                            <option *ngFor="let outlet of outlets" [value]="currentRow.outlet">{{ outlet }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Commissions(%):</label>
                                        <input type="text" class="form-control" placeholder="Commissions" id="commissions" [(ngModel)]="currentRow.commissions" name="commissions" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Hour Salary:</label>
                                        <input type="text" class="form-control" placeholder="Hour Salary" id="hoursalary" [(ngModel)]="currentRow.hoursalary" name="hoursalary" required />
                                    </div>
                                </div>
                            </div>
                            <div class="margin-top-10">
                                <button type="submit" class="btn btn-sm btn-info btn-fill pull-right">{{ currentRow.id ? 'Update' : 'Add' }}</button>
                                <button class="btn btn-sm btn-info btn-fill pull-right" (click)="cancelEdit()">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card margin-bottom-0" *ngIf="isImportContentVisible">
                    <div class="header">
                        <h4 class="title">Import</h4>
                    </div>
                    <div class="content">               
                        <div class="add-content">
                            <p class="category">Create a spreadsheet file. We will check your data for common errors before uploading it. Need help ?</p>
                            <button class="btn btn-sm btn-info btn-fill" (click)="toggleImportContent()">Back</button>
                        </div>
                        <div class="text-center margin-top-10 margin-bottom-10">
                            <i class="pe-7s-cloud-upload" style="font-size: 36px;"></i>
                            <p class="category">Upload a spreadsheet to import products.</p>
                        </div>
                        <div class="item-center">
                            <div class="file-upload-container">
                                <label for="fileInput" class="custom-file-upload">
                                    Upload CSV file
                                </label>
                                <!-- <button class="btn btn-sm btn-info btn-fill" for="fileInput">Upload CSV file</button> -->
                                <input type="file" id="fileInput" class="hidden" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="card margin-bottom-0" *ngIf="!isContentVisible && !isImportContentVisible">
                    <div class="content add-content row-responsive">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Search" id="search" name="search" [(ngModel)]="search" required />
                            </div>
                            <div class="col-sm-4">
                                <select
                                    class="form-control" 
                                    id="role-select" 
                                    [(ngModel)]="selectedRole"
                                >
                                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select 
                                    class="form-control" 
                                    id="outlet-select" 
                                    [(ngModel)]="selectedOutlet"
                                >
                                    <option *ngFor="let outlet of outlets" [value]="outlet">{{ outlet }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="">
                            <button class="btn btn-sm btn-info btn-fill" (click)="onClearFilters()">Clear Filters</button>
                            <button class="btn btn-sm btn-info btn-fill" (click)="onSearch()">Search</button>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="!isContentVisible && !isImportContentVisible">
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <!-- <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th> -->                                        
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Outlet</th>
                                        <th>Daily Target</th>
                                        <th>Weekly Target</th>
                                        <th>Monthly Target</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of rows">
                                        <!-- <td *ngFor="let cell of row">{{cell}}</td> -->
                                        <td>{{ row.name }}</td>
                                        <td>{{ row.email }}</td>
                                        <td>{{ row.role }}</td>
                                        <td>{{ row.outlet }}</td>
                                        <td>${{ row.dailytarget }}</td>
                                        <td>${{ row.weeklytarget }}</td>
                                        <td>${{ row.monthlytarget }}</td>
                                        <td>
                                            <button class="btn btn-sm btn-info" (click)="editRow(row)" data-toggle="tooltip" title="Edit">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </button>
                                            <button class="btn btn-sm btn-danger" (click)="showDeleteModal(row.id)" data-toggle="tooltip" title="Delete">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Table on Plain Background</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">

                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<app-confirm-modal *ngIf="isDeleteModal" 
    [title]="'Remove User'"
    [description]="'Do you really want to remove this User ?'"
    [confirmButtonCaption]="'Delete'"
    [cancelButtonCaption]="'Cancel'"
    (confirmed)="deleteRow()" 
    (cancelled)="closeDeleteModal()">
</app-confirm-modal>