<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Modules</a></li>
                    <li role="presentation"><a href="#">Print</a></li>
                    <li role="presentation"><a href="#">Batch/Cashier Closing</a></li>
                    <li role="presentation"><a href="#">Others</a></li>
                    <li role="presentation"><a href="#">System</a></li>
                    <li role="presentation"><a href="#">Employee/Timesheet</a></li>
                </ul>
                <div class="card margin-bottom-0">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="flex-item">
                                    <app-toggle-switch></app-toggle-switch>
                                    Touch(Make this product touchable)
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
