.background-blue{
    background-color:#1e88e5;
}

.color-white{
    color: white;
}

.flex-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    gap: 5px;
    height: 40px;
}

.nav i, .nav span {
    font-size: 28px;
}

li a{
    cursor: pointer;
}