.sidebar-wrapper{
    background-color: darkslategray;
}

.logo{
    background-color: #1e88e5;
}

.logo-img{
    width: fit-content;
    background: transparent;
}

.setting-content-board {
    opacity: 70%;
    color:aquamarine;
}