.sidebar-wrapper {
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, .1) !important;
}

.logo {
    background-color: white;
}

.logo-img {
    width: fit-content;
    background: transparent;
}

.setting-content-board {
    opacity: 70%;
    color: aquamarine;
}

.padding-left-10 {
    padding-left: 10px;
}

.sidebar-wrapper .nav p {
    color: #777 !important;
}

.sidebar-wrapper .nav i {
    color: #777 !important;
}

.sidebar-wrapper .nav li.active>a,
.bootstrap-navbar .nav li.active>a {
    opacity: 1;
    background: rgb(157 237 255) !important;
}

.sidebar-wrapper .nav li:hover>a,
.bootstrap-navbar .nav li:hover>a {
    background: rgba(100, 100, 100, 0.2) !important;
    opacity: 1;
}

li a{
    cursor: pointer;
}