<div style="height: 87vh;">
    <div>
        <app-toast></app-toast>
        <div class="custom-card" *ngIf="!isOpenClose">
            <div class="custom-form-group">
                <label for="openingFloat" required>Opening Float*</label>
                <input type="number" id="openingFloat" placeholder="Enter opening float" required
                    [(ngModel)]="openingFloat">
            </div>

            <div class="custom-form-group">
                <label for="notes">Notes (Optional):</label>
                <textarea id="notes" placeholder="Enter any notes..." [(ngModel)]="new_note"></textarea>
            </div>

            <div class="custom-form-group">
                <label for="register">Register*</label>
                <select id="register" required [(ngModel)]="selected_reg">
                    <option value="" disabled selected>Select a register</option>
                    <option *ngFor="let register of registers" [value]="register._id">{{ register.name }}</option>
                </select>
            </div>

            <button class="custom-submit-btn" (click)="confirmCreate()">OPEN REGISTER</button>
        </div>
        <div class="reg_card" *ngIf="opencloseHistory?.length>0">
            <div class="reg_left-view">
                <ul>
                    <li *ngFor="let item of opencloseHistory" (click)="sel_openclosehistory=item;">
                        {{item.register.name}}
                        <span style="font-size: xx-small;">
                            {{item.opening_time|date}}-
                            {{item.closing_time|date}}
                        </span>
                    </li>
                    <!-- Add more outlets as needed -->
                </ul>
            </div>
            <div class="reg_right-content">
                <h2>Details</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Register</th>
                            <th>Outlet</th>
                            <th>ID#</th>
                            <th>Opening Time</th>
                            <th>Closing Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{sel_openclosehistory.register?.name}}
                                <br>
                                {{sel_openclosehistory.register?.email}}
                            </td>
                            <td>
                                {{sel_openclosehistory.outlet?.name}}
                                <br>
                                {{sel_openclosehistory.outlet?.email}}
                            </td>
                            <td>{{sel_openclosehistory.uid}}</td>
                            <td>{{sel_openclosehistory.opening_time|date}}</td>
                            <td>{{sel_openclosehistory.closing_time|date}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <app-confirm-modal *ngIf="isCreateOpenClose" [title]="'Open Register'"
            [description]="'Are you sure to want to open this register ?'" [confirmButtonCaption]="'Yes'"
            [cancelButtonCaption]="'No'" (confirmed)="createNewOpenClose()" (cancelled)="isCreateOpenClose=false">
        </app-confirm-modal>
    </div>

    <!-- <div class="main-content" *ngIf="false"> -->
    <div class="main-content" *ngIf="!isContentVisible && isOpenClose">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">


                    <div class="card1 mb-3" style="align-items: center;justify-content: space-between;">
                        <div class="col-md-3 reg-item">
                            <h3><b>Register Details</b></h3>
                        </div>
                        <div class="col-md-8">
                            <table>
                                <thead>
                                    <th>Outlet</th>
                                    <th>Register</th>
                                    <th>ID#</th>
                                    <th>Opening Time</th>
                                </thead>
                                <tbody>
                                    <td>{{openclose?.outlet?.name}}<br>{{openclose?.outlet?.email}}</td>
                                    <td>{{openclose?.register?.name}}</td>
                                    <td>{{openclose?.uid}}</td>
                                    <td>{{nowday(openclose?.opening_time)}}</td>
                                </tbody>
                            </table>
                        </div>

                        <div style="display: grid;gap: 2rem;">
                            <button *ngIf="!isClosedReg" class="btn btn-sm btn-success btn-fill"
                                (click)="toggleContent()">
                                Close Register</button>
                            <button *ngIf="isClosedReg" class="btn btn-sm btn-info btn-fill" (click)="printReport()">
                                Print</button>
                            <button *ngIf="isClosedReg" class="btn btn-sm btn-primary btn-fill"
                                (click)="fetchSearchItems()">
                                Back</button>
                        </div>
                    </div>

                    <div class="card1 mt-5">
                        <div style="display: grid;">

                            <div>
                                <div class="col-md-3">
                                    <h3><b>Payments Summary</b></h3>
                                    <span>
                                        Balance your register by entering the amount counted from the till and other
                                        payment
                                        terminals into the empty fields here.
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th><b>Payment Types</b></th>
                                                <th><b>Expected ($)</b></th>
                                                <th><b>Counted ($)</b></th>
                                                <th><b>Differences ($)</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let payment of paymentSummary |keyvalue">
                                                <td>{{ payment.key }}</td>
                                                <td>{{ payment.value.expected | currency }}</td>
                                                <!-- <td>{{ payment.counted | currency }}</td> -->
                                                <td>
                                                    <input type="number" [(ngModel)]="payment.value.counted "
                                                        (ngModelChange)="updateDifference(payment.value)" />
                                                </td>
                                                <td>{{ payment.value.differences | currency }}</td>
                                                <!-- Display differences -->
                                            </tr>
                                            <tr class="total-border">
                                                <td><strong>Total</strong></td>
                                                <td><strong>{{ paymentSum.expected | currency }}</strong></td>
                                                <td><strong>{{ paymentSum.counted | currency }}</strong></td>
                                                <td><strong>{{ paymentSum.differences | currency }}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-3 total-border">
                                    <h3><b>Category Summary</b></h3>
                                </div>
                                <div class="col-md-9">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th><b>category</b></th>
                                                <th><b>Sale Qty</b></th>
                                                <th><b>Sale Sum($)</b></th>
                                                <!-- <th><b>Tax ($)</b></th> -->

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of categorySummary | keyvalue">
                                                <td>{{ item.value.name}}</td>
                                                <td>{{ item.value.qty }}</td>
                                                <td>{{ item.value.cost | currency }}</td>

                                            </tr>
                                            <tr class="total-border">
                                                <td colspan="2" style="text-align:center">
                                                    <strong>Total</strong>
                                                </td>
                                                <td>
                                                    <strong>{{categorySum.expect | currency}}</strong>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>

                                <div class="mt-2">
                                    <div class="col-md-3 total-border">
                                        <h3><b>Closing Summary</b></h3>
                                    </div>
                                    <div class="col-md-9">
                                        <div>
                                            <b>Note</b>
                                        </div>
                                        <div>
                                            <textarea rows="5" class="form-control"
                                                placeholder="Type to add a register closure note..."></textarea>
                                        </div>
                                        <!-- <div style="display: flex;justify-content: center;margin: 1rem;">
                                        <button class="btn btn-success btn-fill" (click)="toggleContent()">
                                            Close Register
                                        </button>
                                    </div> -->
                                    </div>
                                </div>
                            </div>

                            <!-- <div>
                            <div class="col-md-3 total-border">
                                <h3><b>Summary</b></h3>
                            </div>
                            <div class="col-md-9">
                                <div style="width: 100%;">
                                    <table style="width: 100%;padding: auto;">
                                        <thead>
                                            <tr>
                                                <th>Sub Total</th>
                                                <th>HST</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{summary_subtotal}}</td>
                                                <td>{{summary_hst}}</td>
                                                <td>{{summary_total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <app-confirm-modal *ngIf="isConfirmClose" [title]="'Close Register'"
        [description]="'Are you sure to want to close this register ?'" [confirmButtonCaption]="'Yes'"
        [cancelButtonCaption]="'No'" (confirmed)="confirmCloseRegister()" (cancelled)="isConfirmClose=false">
    </app-confirm-modal>
</div>

<!-- Z Report Section -->
<!-- <div  class="z-report  print-roll"> -->
<!-- <div *ngIf="isContentVisible" class="print-roll-bg">

    <div class="z-report  print-roll">
        <div class="print-table">
            <div class="border just-row mb-1" style="justify-content: space-between;">
                <b>Z Report</b>
                ({{nowday(openclose?.opening_time)}} - {{nowday('now')}})
            </div>
            <div class="mb-1">
                <div class="border" style="text-align: center;">
                    <b>SALES AND TAXES SUMMARY</b>
                </div>
                <div class="border">
                    <div class="just-row">
                        <span>Total Net Sales</span>
                        <span>{{zSalesTaxesSummary.totalNetSale | currency}}</span>
                    </div>
                    <div class="just-row">
                        <span>Tax</span>
                        <span>{{zSalesTaxesSummary.tax | currency}}</span>
                    </div>
                </div>
                <div class="just-row">
                    <span><b>Total Sales</b></span>
                    <span><b>{{zSalesTaxesSummary.total | currency}}</b></span>
                </div>
            </div>



            <div class="mb-1">
                <div class="border"><b>PAYMENT DETAILS</b></div>
                <table style="border: none;" class="print-table">

                    <tbody class="border">
                        <tr *ngFor="let payment of paymentSummary | keyvalue">
                            <td class="print-table" style="float: left;">{{ payment.key }}</td>
                            <td class="print-table" style="float: right;">{{payment.value.counted | currency }}</td>
                        </tr>
                    </tbody>
                    <tr>
                        <td class="print-table" style="float: left;"><b>Total Payments</b></td>
                        <td class="print-table" style="float: right;">
                            <b>{{ paymentSum.counted |currency }}</b>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="mb-1">
                <div class="just-row">
                    <b>Total Payments - Total Sales =</b>
                    <b>{{(paymentSum.counted - zSalesTaxesSummary.total)|currency }}</b>
                </div>
            </div>
            <div class="mb-1">
                <div class="border"><b>SERVER TIPOUTS</b></div>
                <table style="border: none;" class="print-table">
                    <tbody>

                        <tr>
                            <td class="print-table" style="float: left;">
                                {{serverTipout.cash.type}}
                            </td>
                            <td class="print-table" style="float: right;">
                                {{serverTipout.cash.bal | currency}}
                            </td>
                        </tr>
                        <tr>
                            <td class="print-table" style="float: left;">
                                {{serverTipout.cashAdjustments.type}}
                            </td>
                            <td class="print-table" style="float: right;">
                                {{serverTipout.cashAdjustments.bal|currency}}
                            </td>
                        </tr>
                        <tr>
                            <td class="print-table" style="float: left;font-style: italic;">
                                {{serverTipout.cashBeforeTip.type}}
                            </td>
                            <td class="print-table" style="float: right;">
                                {{(serverTipout.cash.bal+serverTipout.cashAdjustments.bal)|currency}}
                            </td>
                        </tr>
                        <tr>
                            <td class="print-table" style="float: left;">
                                {{serverTipout.cashGratuity.type}}
                            </td>
                            <td class="print-table" style="float: right;">
                                {{-serverTipout.cashGratuity.bal|currency}}
                            </td>
                        </tr>
                        <tr>
                            <td class="print-table" style="float: left;">
                                {{serverTipout.noneCashGratuity.type}}
                            </td>
                            <td class="print-table" style="float: right;">
                                {{-serverTipout.noneCashGratuity.bal |currency}}
                            </td>
                        </tr>
                        <tr>
                            <td class="print-table" style="float: left;">
                                {{serverTipout.noneCashTip.type}}
                            </td>
                            <td class="print-table" style="float: right;">
                                {{-serverTipout.noneCashTip.bal |currency}}
                            </td>
                        </tr>
                        <tr class="border">
                            <td class="print-table" style="float: left;font-style: italic;">
                                {{serverTipout.totalNonCashtip.type}}
                            </td>
                            <td class="print-table" style="float: right;">
                                {{(
                                -serverTipout.cashGratuity.bal
                                -serverTipout.noneCashGratuity.bal
                                --serverTipout.noneCashTip.bal
                                | currency)}}
                            </td>
                        </tr>
                        <tr>
                            <td class="print-table" style="float: left;">
                                <b>Total Cash</b>
                            </td>
                            <td class="print-table" style="float: right;">
                                <b>{{(serverTipout.cash.bal
                                    +serverTipout.cashAdjustments.bal
                                    -serverTipout.cashGratuity.bal
                                    -serverTipout.noneCashGratuity.bal
                                    --serverTipout.noneCashTip.bal)|currency}}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mb-1">
                <div><b>TOTAL DISCOUNTS</b></div>
                <table style="border: none;" class="print-table">
                    <thead class="border">
                        <tr>
                            <td class="print-table" style="float: left;">Discount Name</td>
                            <td class="print-table">Count</td>
                            <td class="print-table" style="float: right;">Amount</td>
                        </tr>
                    </thead>
                    <tbody class="border">
                        <tr *ngfor="let discount of discounts | keyvalue">
                            <td class="print-table" style="float: left;">{{discount.value.product_name}}</td>
                            <td class="print-table">{{discount.value.qty}}%</td>
                            <td class="print-table" style="float: right;">{{discount.value.bal
                                }}
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="mb-1">
                <div class="border"><b>CREDIT CARD BREAKDOWN</b></div>
                <table style="border: none;" class="print-table">
                    <tbody class="border">
                        <tr *ngFor="let payment of payhistory | keyvalue">
                            <ng-container *ngIf="payment.key !== 'cash'">
                                <td class="print-table" style="float: left;">{{payment.key}}</td>
                                <td class="print-table" style="float: right;">{{payment.value.bal|currency
                                    }}
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                    <tr>
                        <td class="print-table" style="float: left;"><b>Total</b></td>
                        <td class="print-table" style="float: right;">
                            <b>{{ total_creditcard_amount | currency }}</b>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="mb-1">
                <div><b>SALES CATEGORIES</b></div>
                <table style="border: none;" class="print-table">
                    <thead class="border">
                        <tr>
                            <td class="print-table" style="float: left;">Category</td>
                            <td class="print-table">Quantity</td>
                            <td class="print-table" style="float: right;">Net Sales</td>
                        </tr>
                    </thead>
                    <tbody class="border">
                        <tr *ngFor="let product of categorySummary | keyvalue">
                            <td class="print-table" style="float: left;">{{ product.value.name}}</td>
                            <td class="print-table">({{ product.value.qty }})</td>
                            <td class="print-table" style="float: right;">{{
                                product.value.cost|currency }}</td>
                        </tr>

                    </tbody>
                    <tr>
                        <td class="print-table" style="float: left;"><b>Total Net Sales</b></td>
                        <td class="print-table"></td>
                        <td class="print-table" style="float: right;">
                            <b>{{ categorySum.expect|currency }}</b>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div> -->
<!-- </div> -->