<div class="main-content" *ngIf="!isOrderModal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10">
                    <div class="content add-content">
                        <p class="category">View and manage your consignments. <a href="#">Need help?</a></p>
                        <div style="gap:1rem">
                            <button class="btn btn-sm btn-info btn-fill" (click)="showModal()">Order Stock</button>
                        </div>
                    </div>
                </div>

                <!-- Search Filters -->
                <div class="card margin-bottom-0">
                    <div class="content add-content">
                        <div class="align-center">
                            <div class="form-group">
                                <label>Invoice/Order Number</label>
                                <input type="text" class="form-control" placeholder="Invoice/Order Number"
                                    [(ngModel)]="searchInvoice" (input)="filterRows()" />
                            </div>
                            <div class="form-group margin-left-10">
                                <label>Order Type</label>
                                <select class="form-control" [(ngModel)]="selectedOrderType" (change)="filterRows()">
                                    <option value="">All Orders</option>
                                    <option value="purchase">Purchase Orders</option>
                                    <option value="return">Return Orders</option>
                                    <option value="receive">Receive Orders</option>
                                </select>
                            </div>
                            <div class="form-group margin-left-10">
                                <label>Outlet</label>
                                <select class="form-control" [(ngModel)]="selectedOutlet" (change)="filterRows()">
                                    <option value="">All Outlets</option>
                                    <option *ngFor="let outlet of outlets" [value]="outlet._id">{{
                                        outlet.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group margin-left-10">
                                <label>Supplier</label>
                                <select class="form-control" [(ngModel)]="selectedSupplier" (change)="filterRows()">
                                    <option value="">All Suppliers</option>
                                    <option *ngFor="let supplier of suppliers" [value]="supplier._id">{{
                                        supplier.description }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="align-center">
                            <div class="form-group">
                                <label>Created At:</label>
                                <div class="align-center">
                                    <input type="date" class="form-control" [(ngModel)]="createdAtStart" />
                                    <p class="category">&nbsp;~&nbsp;</p>
                                    <input type="date" class="form-control" [(ngModel)]="createdAtEnd" />
                                </div>
                            </div>
                            <div class="form-group margin-left-10">
                                <label>Due Date:</label>
                                <div class="align-center">
                                    <input type="date" class="form-control" [(ngModel)]="dueDateStart" />
                                    <p class="category">&nbsp;~&nbsp;</p>
                                    <input type="date" class="form-control" [(ngModel)]="dueDateEnd" />
                                </div>
                            </div>
                            <div class="col " style="align-self: center; display: grid;
                                font-size: 2rem;">
                                <button class="btn btn-sm btn-danger btn-fill" (click)="clearFilters()">
                                    <i class="pe-7s-refresh"></i>
                                </button>
                                <button class="btn btn-sm btn-info btn-fill" (click)="searchByIndex()">
                                    <i class="pe-7s-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Data Table -->
                <div class="card">
                    <div class="content table-responsive table-full-width" style="height: 54vh; overflow-y: auto;">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Number</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Status</th>
                                    <th>Items</th>
                                    <th>Cost</th>
                                    <th>Created</th>
                                </tr>
                            </thead>
                            <!-- <tfoot> -->
                            <tr>
                                <td colspan="5" class="text-center"><strong>Total:</strong></td>
                                <td><strong>{{ total_items}}</strong></td>
                                <td><strong>{{ total_cost | currency }}</strong></td>
                                <td></td>
                            </tr>
                            <!-- </tfoot> -->
                            <tbody>
                                <tr *ngFor="let row of orderData" (click)="selectRow(row)">
                                    <td>{{ row.type }}</td>
                                    <td>{{ row.order_number }}</td>
                                    <td>{{ row?.supplier?.name ||'' }}</td>
                                    <td>{{ row?.deliver_to?.name || ''}}<br>
                                        <label style="font-size: small;">{{ row?.deliver_to?.email || ''}}</label>
                                    </td>
                                    <td>{{ row.status }}</td>
                                    <td>{{ calcItemCount(row.products) }}</td>
                                    <td>{{ calcProductCost(row.products) | currency }}</td>
                                    <td>{{ row.created_at | date }}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-pagination class="float-right" [totalCount]="totalItems" [countsPerPageOptions]="[5, 10, 20, 50]"
        (pageChanged)="onPageChanged($event)" (countPerPageChanged)="onCountPerPageChanged($event)">
    </app-pagination>
</div>
<div class="main-content" *ngIf="isOrderModal">
    <div class="card margin-bottom-10">
        <div class="content add-content flex">
            <div style="display: flex; align-items: center;">
                <span>
                    Add products to this purchase order to keep track of inbound inventory.
                    <a href="#">Need help ?</a>
                </span>
            </div>
            <div style="display: flex; justify-content: right;">
                <button class="btn btn-sm btn-info btn-fill" (click)="receiveOrder()">
                    Rceive
                </button>
                <button class="btn btn-sm btn-info btn-fill" (click)="saveOrder()">
                    Save
                </button>
                <button class="btn btn-sm btn-success btn-fill" (click)="closeModal()">
                    Back
                </button>
            </div>
        </div>
    </div>
    <div class="card">
        <div style="display: flex; border-bottom: 1px solid rgb(212, 212, 212); padding: 1.5rem; width: 100%;">
            <div class="col-md-3">
                <h4><b>Details</b></h4>
                <span>
                    Adding details for this order helps you stay on top of all your orders and main data.
                </span>
            </div>
            <div class="col-md-9">
                <div class="row space-between p-1">
                    <div class="col-md-6">
                        <label for="supplier">Supplier:</label>
                        <select id="supplier" class="form-control" [(ngModel)]="newOrder.supplier">
                            <!-- (change)="selectOption('supplier', $event.target.value)" -->
                            <option *ngFor="let supplier of productSuppliers" [value]="supplier._id">{{
                                supplier.description }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="deliveredTo">Delivered To:</label>
                        <select id="deliveredTo" class="form-control" [(ngModel)]="newOrder.deliver_to">
                            <!-- (change)="selectOption('deliver_to', $event.target.value)" -->
                            <option *ngFor="let outlet of productOutlets" [value]="outlet._id">{{ outlet.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row space-between p-1">
                    <div class="col-md-6">
                        <label for="supplierInvoiceNumber">Supplier Invoice Number:</label>
                        <input type="text" id="supplierInvoiceNumber" class="form-control"
                            placeholder="Enter Invoice Number" [(ngModel)]="newOrder.invoice_number" />
                    </div>
                    <div class="col-md-6">
                        <label for="deliveryDate">Delivery Date:</label>
                        <input type="date" id="deliveryDate" class="form-control"
                            [(ngModel)]="newOrder.delivery_date" />
                    </div>
                </div>
                <div class="row space-between p-1">
                    <div class="col-md-6">
                        <label for="orderNumber">Order Number:</label>
                        <input type="text" id="orderNumber" class="form-control" placeholder="Enter Order Number"
                            [(ngModel)]="newOrder.order_number" />
                        <span style="font-size: 1.2rem;color: gainsboro;">This is to help to identify this order </span>
                    </div>
                    <div class="col-md-6">
                        <label for="note">Note:</label>
                        <textarea id="note" class="form-control" rows="3" placeholder="Enter any notes"
                            [(ngModel)]="newOrder.note"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; border-bottom: 1px solid rgb(212, 212, 212); padding: 1.5rem; width: 100%;">
            <div class="col-md-3">
                <h4><b>Products</b></h4>
                <span>
                    Choose products to add to this order.
                </span>
            </div>
            <div class="col-md-9">
                <div class="" style="width: 100%;">
                    <label for="searchProduct" class="me-2 ">Search Product:</label>
                    <!-- <div class="input-group"> -->
                    <div>

                        <input type="text" id="searchProduct" class="form-control" [(ngModel)]="keyword"
                            placeholder="Search or scan to add product" (input)="searchProduct()" />
                        <ul *ngIf="filteredProducts.length > 0" class="dropdown-list">
                            <li *ngFor="let product of filteredProducts" (click)="selectProduct(product)"
                                class="dropdown-item">
                                {{ product.name }}
                            </li>
                        </ul>
                    </div>
                    <!-- <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span> -->
                    <!-- </div> -->
                </div>
                <div style="width: 100%;" class="p-1">
                    <table style="width: 100%;justify-content: space-between;" class="p-1">
                        <thead style="border-bottom: 1px solid gray;">
                            <tr class="p-1">
                                <th style="width: 40%;"><b>Product</b></th>
                                <th style="width: 15%;"><b>Current Inventory</b></th>
                                <th style="width: 15%;"><b>Quantity</b></th>
                                <th style="width: 15%;"><b>Supply Price</b></th>
                                <th style="width: 15%;"><b>Tax</b></th>
                                <th style="width: 15%;"><b>Total Cost</b></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="margin: 1rem;" *ngFor="let product of newOrder.products">
                                <td>{{product.product_name}}</td>
                                <td>{{product.inventory}}</td>
                                <td>
                                    <input type="number" id="qty" class="form-control" placeholder="" step="1"
                                        [(ngModel)]="product.qty" min="0" />
                                </td>
                                <td>
                                    <input type="number" id="price" class="form-control" placeholder=""
                                        [(ngModel)]="product.supply_price" min="0" />
                                </td>
                                <td>{{product.tax?.rate||0}}%</td>
                                <td><b>{{product.qty * product.supply_price
                                        *(100+product.tax?.rate||0)/100| currency}}</b></td>
                                <td>
                                <td>
                                    <button class="btn btn-sm btn-danger" (click)="deleteproduct(product)"
                                        data-toggle="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                                <td colspan="2"><strong>{{ calcCost()||0 | currency }}</strong></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-toast></app-toast>


<div class="modal-overlay" *ngIf="isShowdetailflag" (click)="onBackdropClick($event)">
    <div class="modal-content" *ngIf="isShowdetailflag" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span class="modal-title">Order Information
            </span>
            <button class="close-button" (click)="onBackdropClick(selectedRecord)">×</button>
        </div>

        <div class="modal-body">
            <table>
                <tr>
                    <th>Type</th>
                    <th>Order<br>Number</th>
                    <th>Supplier</th>
                    <th>Deliver To</th>
                    <th>Invoice <br>Number</th>
                    <th>Delivery Date</th>
                </tr>
                <tr>
                    <td>{{ seletedRow.type || '' }}</td>
                    <td>{{ seletedRow.order_number || '' }}</td>
                    <td>{{ seletedRow.supplier?.name || '' }}</td>
                    <td>{{ seletedRow.deliver_to?.name || '' }}<br>
                        <span style="color: gray;font-size: small;">
                            {{ seletedRow.deliver_to?.email || '' }}
                        </span>
                    </td>
                    <td>{{ seletedRow.invoice_number || '' }}</td>
                    <td>{{ formatedDate(seletedRow.delivery_date) |date }}</td>
                </tr>
                <tr>
                    <th> QTY </th>
                    <th>Cost</th>
                    <th colspan="4">Note</th>
                </tr>
                <tr>
                    <td>
                        {{ calcItemCount(seletedRow.products) }}
                    </td>
                    <td>{{ calcProductCost(seletedRow.products) | currency }}</td>
                    <td colspan="4">
                        <span  style="white-space: normal; word-wrap: break-word;">
                            {{seletedRow.note}}
                        </span>
                    </td>
                </tr>
            </table>
            <span>Ordered Products</span>
            <table>
                <thead>
                    <th>Product</th>
                    <th>Current<br>Inventory</th>
                    <th>Quantity</th>
                    <th>Supply<br>Price</th>
                    <th>Total Cost</th>
                    <!-- <th>product_id</th> -->
                </thead>
                <tbody>
                    <tr *ngFor="let product of seletedRow.products">
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.product_id.inventory || '' }}</td>
                        <td>{{ product.qty || 0 }}</td>
                        <td>{{ product.supply_price| currency }}</td>
                        <td>{{ product.qty * product.supply_price |currency }}</td>
                        <!-- <td>{{ product.product.product_id}}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>