<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10">
                    <div class="content add-content">
                        <p class="category">Manage the customer point and gift . Need help?</p>
                        <button class="btn btn-sm btn-info btn-fill">Save</button>
                    </div>
                </div>
                <div class="card margin-bottom-10">
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table borderless-table">
                                <tbody>
                                    <tr>
                                        <td class="width-25">
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                                <label for="checkbox1"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Point Used
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox2" type="checkbox">
                                                <label for="checkbox2"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Special Items excluded on point
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox3" type="checkbox">
                                                <label for="checkbox3"></label>
                                            </div>
                                        </td>
                                        <td>
                                            On issuing new card, customer information gathering form printed
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox4" type="checkbox">
                                                <label for="checkbox4"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Point amount displayed as number instead of money amount
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox5" type="checkbox">
                                                <label for="checkbox5"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Point amount applied to subtotal
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox6" type="checkbox">
                                                <label for="checkbox6"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Point Information is not printed on receipt
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox7" type="checkbox">
                                                <label for="checkbox7"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Only total point printed on receipt (No point history)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox9" type="checkbox">
                                                <label for="checkbox9"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Gift card usage history is not printed on receipt
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox10" type="checkbox">
                                                <label for="checkbox10"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Point amount displayed on Sale window
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox11" type="checkbox">
                                                <label for="checkbox11"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Gift Bonus added
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox12" type="checkbox">
                                                <label for="checkbox12"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Auto custID used
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox13" type="checkbox">
                                                <label for="checkbox13"> </label>
                                            </div>
                                        </td>
                                        <td>
                                            DR used
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox14" type="checkbox">
                                                <label for="checkbox14"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Customer Card: 9 digits
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox15" type="checkbox">
                                                <label for="checkbox15"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Phone number can not used as card number
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox16" type="checkbox">
                                                <label for="checkbox16"></label>
                                            </div>
                                        </td>
                                        <td>
                                            Dealer Point Used
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card margin-bottom-10">
                    <div class="content">
                        <div class="header">
                            <p class="category">Point Rates</p>
                        </div>
                        <table class="table borderless-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Retailers</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Cash
                                    </td>
                                    <td>
                                        <div class="col-md-4">
                                            <!-- <input type="text" class="form-control" placeholder="0" id="cash" name="cash" required /> -->
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="0" aria-describedby="cash">
                                                <span class="input-group-addon" id="cash">%</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Credit Card
                                    </td>
                                    <td>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="0" aria-describedby="credit">
                                                <span class="input-group-addon" id="credit">%</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Debit
                                    </td>
                                    <td>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="0" aria-describedby="debit">
                                                <span class="input-group-addon" id="debit">%</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card margin-bottom-10">
                    <div class="content add-content">
                        <p class="category">Manage the customer point and gift . Need help?</p>
                        <button class="btn btn-sm btn-info btn-fill">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
