<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Search Bar -->
                <div class="card margin-bottom-10">
                    <div class="content add-content">
                        <div class="align-center">
                            <div class="col-md-4">
                                <!-- <label>Customer:</label> -->
                                <select [(ngModel)]="selectedCustomer" class="form-control" name="customer"
                                    (change)="searchTransactions()">
                                    <option *ngFor="let customer of customers" [value]="customer.value">
                                        {{ customer.label }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <!-- <label>User:</label> -->
                                <select [(ngModel)]="selectedUser" class="form-control" name="user"
                                    (change)="searchTransactions()">
                                    <option *ngFor="let el of users" [value]="el.value">
                                        {{ el.label }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <!-- <label>Status:</label> -->
                                <select [(ngModel)]="selectedStatus" class="form-control" name="status"
                                    (change)="searchTransactions()">
                                    <option *ngFor="let el of sale_status" [value]="el.value">
                                        {{ el.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="align-center">
                            <input type="date" [(ngModel)]="selectedDateFrom" class="form-control"
                                (change)="fetchSearchItems()" name="createdFrom" />
                            <p class="category">&nbsp;&nbsp;~&nbsp;&nbsp;</p>
                            <input type="date" [(ngModel)]="selectedDateTo" class="form-control"
                                (change)="fetchSearchItems()" name="createdTo" />
                            <p class="category">&nbsp;&nbsp;</p>
                            <button class="btn btn-sm btn-danger btn-fill " (click)="clearFilters()">Clear
                                Filters</button>
                        </div>
                    </div>
                </div>

                <!-- Transactions Table -->
                <div class="card">
                    <div class="content table-responsive table-full-width" style="height: 63vh;overflow-y: auto;">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Receipt</th>
                                    <th>User</th>
                                    <th>Register</th>
                                    <th>Customer</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- total row  -->
                                    <td colspan="5"></td>
                                    <td><strong>Total:</strong></td>
                                    <td>{{ calculateTotal() | currency }}</td>
                                </tr>
                                <tr *ngFor="let transaction of filteredTransactions">
                                    <td>{{ transaction.date }}<br>
                                        <span style="color: rgb(172, 172, 172);">{{transaction.time}}</span>
                                    </td>
                                    <td>{{ transaction.receipt }}</td>
                                    <td class="compact-spacing">
                                        {{ transaction.user }}<br><small>{{ transaction.user_email }}</small>
                                    </td>
                                    <td>{{ transaction.register }}</td>
                                    <td class="compact-spacing">
                                        {{ transaction.customer_name }}<br><small> {{ transaction.customer_email
                                            }}</small>
                                    </td>
                                    <td>{{ transaction.status }}</td>
                                    <td>{{ transaction.subtotal | currency }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-pagination class="float-right" [totalCount]="totalItems" [countsPerPageOptions]="[5, 10, 20, 50]"
        (pageChanged)="onPageChanged($event)" (countPerPageChanged)="onCountPerPageChanged($event)">
    </app-pagination>
</div>