<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10">
                    <div class="content add-content">
                        <div>
                            <p class="category">
                                Count and receive products that have been delivered from your suppliers to ensure your
                                inventory
                                stays accurate.
                                <a href="#">Need help ?</a>
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-success btn-fill">
                                Return
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="header">
                                    <h4 class="title">Details</h4>
                                    <p class="category">
                                        Adding details for this order helps you stay on top of all your orders and main
                                        data.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row space-between p-1">
                                    <div class="col-md-6">
                                        <label for="deliveredTo">Delivery To*:</label>
                                        <select id="deliveredTo" class="form-control">
                                            <option value="location1">Location 1</option>
                                            <option value="location2">Location 2</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="returnFrom">Return From*:</label>
                                        <select id="returnFrom" class="form-control">
                                            <option value="returnLocation1">Return Location 1</option>
                                            <option value="returnLocation2">Return Location 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row space-between p-1">
                                    <div class="col-md-6">
                                        <label for="returnNumber">Return Number*:</label>
                                        <input type="text" id="returnNumber" class="form-control"
                                            placeholder="Enter Return Number" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="nameReference">Name/Reference:</label>
                                        <input type="text" id="nameReference" class="form-control"
                                            placeholder="Enter Name/Reference" />
                                    </div>
                                </div>
                                <div class="row space-between p-1">
                                    <div class="col-md-6">
                                        <label for="supplierInvoiceNumber">Supplier Invoice:</label>
                                        <input type="text" id="supplierInvoiceNumber" class="form-control"
                                            placeholder="Enter Invoice Number" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="deliveryDate">Delivery Date*:</label>
                                        <input type="date" id="deliveryDate" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="header">
                                    <h4 class="title">Products</h4>
                                    <p class="category">
                                        Choose products to receive by searching or scanning.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="" style="width: 100%;">
                                    <label for="searchProduct" class="me-2 ">Search Product:</label>
                                    <!-- <div class="input-group"> -->
                                    <input type="text" id="searchProduct" class="form-control"
                                        placeholder="Search or scan to add product" />
                                    <!-- <span class="input-group-text">
                                <i class="fas fa-search"></i>
                            </span> -->
                                    <!-- </div> -->
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr class="p-1">
                                                <th style="width: 40%;"><b>Product</b></th>
                                                <th style="width: 15%;"><b>Current Inventory</b></th>
                                                <th style="width: 15%;"><b>Received Quantity</b></th>
                                                <th style="width: 15%;"><b>Supply Price</b></th>
                                                <th style="width: 15%;"><b>Total Cost</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b></b></td>
                                                <td><b></b></td>
                                                <td><b></b></td>
                                                <td><b></b></td>
                                                <td><b>$0.00</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>