<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10">
                    <div class="content add-content">
                        <div class="align-center">
                            <p class="category">
                                Count and receive products that have been delivered from your suppliers to ensure your
                                inventory
                                stays accurate.
                                <a href="#">Need help ?</a>
                            </p>
                        </div>
                        <div class="align-center">
                            <button class="btn btn-sm btn-success btn-fill" (click)="returnStock()">
                                Return
                            </button>

                        </div>
                    </div>
                </div>
                <div class="card margin-bottom-10">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="header">
                                    <h4 class="title">Details</h4>
                                    <p class="category">

                                    </p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row space-between p-1">
                                    <div class="col-md-6">
                                        <label for="supplier">Delivery To:</label>
                                        <select id="supplier" class="form-control" [(ngModel)]="selectedSupplier">
                                            <option *ngFor="let supplier of suppliers" [value]="supplier._id">{{
                                                supplier.description }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="deliveredTo">Return From:</label>
                                        <select class="form-control" [(ngModel)]="selectedOutletTo">
                                            <option *ngFor="let outlet of outlets" [value]="outlet._id">{{
                                                outlet.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row space-between p-1">
                                    <div class="col-md-6">
                                        <label for="supplierInvoiceNumber">Supplier Invoice Number:</label>
                                        <input type="text" id="supplierInvoiceNumber" class="form-control"
                                            placeholder="Enter Invoice Number" [(ngModel)]="sel_invoiceNumber" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="deliveryDate">Delivery Date:</label>
                                        <input type="date" id="deliveryDate" class="form-control"
                                            [(ngModel)]="deliveryDate" />
                                    </div>
                                </div>
                                <div class="row space-between p-1">
                                    <div class="col-md-6">
                                        <label for="orderNumber">Return Number:</label>
                                        <input type="text" id="orderNumber" class="form-control"
                                            placeholder="Enter Order Number" [(ngModel)]="returnNumber" />
                                        <p class="category">This is to help to identify this order </p>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="note">Name/Reference:</label>
                                        <input type="text" id="refer" class="form-control" placeholder="Name/Reference"
                                            [(ngModel)]="note" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="header">
                                    <h4 class="title">Products</h4>
                                    <p class="category">
                                        Choose products to receive by searching or scanning.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="" style="width: 100%;">
                                    <label for="searchProduct" class="me-2 ">Search Product:</label>
                                    <!-- <div class="input-group"> -->
                                    <div>

                                        <input type="text" id="searchProduct" class="form-control" [(ngModel)]="keyword"
                                            placeholder="Search or scan to add product" (input)="searchProduct()" />
                                        <ul *ngIf="filteredProducts.length > 0" class="dropdown-list">
                                            <li *ngFor="let product of filteredProducts"
                                                (click)="selectProduct(product)" class="dropdown-item">
                                                {{ product.name }}
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- <span class="input-group-text">
                                            <i class="fas fa-search"></i>
                                        </span> -->
                                    <!-- </div> -->
                                </div>
                                <div style="width: 100%;" class="p-1">
                                    <table style="width: 100%;justify-content: space-between;" class="p-1">
                                        <thead style="border-bottom: 1px solid gray;">
                                            <tr class="p-1">
                                                <th style="width: 40%;"><b>Product</b></th>
                                                <th style="width: 15%;"><b>Current Inventory</b></th>
                                                <th style="width: 15%;"><b>Quantity</b></th>
                                                <th style="width: 15%;"><b>Supply Price</b></th>
                                                <th style="width: 15%;"><b>Tax Rate</b></th>
                                                <th style="width: 15%;"><b>Total Cost</b></th>
                                                <th style="width: 15%;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="margin: 1rem;" *ngFor="let product of newOrder.products">
                                                <td>{{product.product_name}}</td>
                                                <td>{{product.inventory}}</td>
                                                <td>
                                                    <input type="number" id="qty" class="form-control" placeholder=""
                                                        step="1" [(ngModel)]="product.qty" min="0" />
                                                </td>
                                                <td>
                                                    <input type="number" id="price" class="form-control" placeholder=""
                                                        [(ngModel)]="product.supply_price" min="0" />
                                                </td>
                                                <td>{{product.tax?.rate||0}}%</td>
                                                <td><b>{{product.qty * product.supply_price
                                                        *(100+product.tax?.rate||0)/100| currency}}</b></td>
                                                <td>
                                                    <button class="btn btn-sm btn-danger"
                                                        (click)="deleteproduct(product)" data-toggle="tooltip"
                                                        title="Delete">
                                                        <span class="glyphicon glyphicon-trash"
                                                            aria-hidden="true"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"></td>
                                                <td colspan="2"><strong>{{ calcCost()||0 | currency }}</strong></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><app-toast></app-toast>