.btn {
    margin: 0 2px;
}

.add-content {
    display: flex;                /* Enables Flexbox for .content */
    justify-content: space-between; /* Distributes space between elements */
    align-items: center;          /* Vertically centers the items */
}

.card .content {
    padding: 10px 15px 10px 15px;
}

.dropdown{
    margin: 0 auto;
    padding: 6px 15px 6px 15px;
}

.dropdown a{
    color: #9a9a9a;
}

.margin-bottom-0
{
    margin-bottom: 0px;
}

.margin-bottom-10
{
    margin-bottom: 10px;
}

.margin-bottom-5
{
    margin-bottom: 5px;
}

input{
    padding: 4px 6px 4px 6px;
    height: 32px;
}

table td{
    padding-bottom: 3px;
    padding-top: 3px; 
}

.custom-file-upload {
    display: inline-block;
    padding: 7px 10px;
    cursor: pointer;
    background-color: #1dc7ea; /* Customize button color */
    color: white;
    border-radius: 3px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    text-transform: none;
}

.custom-file-upload:hover {
    opacity: 0.8; /* Darker shade on hover */
}

.hidden {
    display: none; /* Hide the default file input */
}

.item-center {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}

.items-center{
    display: flex;
    flex-direction: row;
    /* line-height: 1; */
    align-items: center;
}

.col-md-4, .col-sm-4, .col-md-6 {
    padding-right: 0px;
}

.header{
    padding: 0px 0px;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.checkbox {
    margin-top: 3px;
    margin-bottom: 3px;
}

.padding-top-2 {
    padding-top: 2px;
}

hr{
    margin: 0px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card form .col-md-6 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.float-right{
    float: right;
}

.padding-top-0 {
    padding-bottom: 0px;
}

.margin-top-10 {
    padding-bottom: 10px;
}