<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10" *ngIf="!isAddRoleContentVisible">
                    <div class="content add-content">
                        <p class="category">Manage user roles. Need help?</p>
                        <div>
                            <button class="btn btn-sm btn-info btn-fill" (click)="toggleAddRoleContent()">Add Role</button>
                        </div>
                    </div>
                </div>
                <div class="card margin-bottom-0" *ngIf="isAddRoleContentVisible">
                    <div class="content add-content padding-bottom-0">
                        <div class="header">
                            <h4 class="title">{{ isEditableRow ? "Update" : "Add"}} Role</h4>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-info btn-fill" (click)="toggleAddRoleContent()">Cancel</button>
                            <button class="btn btn-sm btn-info btn-fill" (click)="onSaveRole()">&nbsp;&nbsp;{{ isEditableRow ? "Update" : "Save"}}&nbsp;&nbsp;</button>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Role Name:</label>
                                    <input type="text" class="form-control" placeholder="Role Name" id="rolename" [(ngModel)]="role_name" name="rolename" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 items-center">
                                <label class="margin-bottom-0">Permissions:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <button class="btn btn-sm btn-info btn-fill pull-right" (click)="onSelectAll()">Select All</button>
                                <button class="btn btn-sm btn-info btn-fill pull-right" (click)="onDeselectAll()">Deselect All</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="items-center">
                                <div class="col-md-2">
                                    <label class="margin-bottom-5">Product Costs:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        <input id="checkbox_show_product_costs" [(ngModel)]="checkbox_show_product_costs" [name]="'checkbox_show_product_costs'" type="checkbox">
                                        <label class="padding-top-2" for="checkbox_show_product_costs">Show Product Costs&nbsp;&nbsp;<small>(Show product costs, margins and profitability information in the Sell screen, product catalog, reporting and stock control)</small></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="items-center">
                                <div class="col-md-2">
                                    <label class="margin-bottom-5">Labels:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        <input id="checkbox_print_labels" [(ngModel)]="checkbox_print_labels" [name]="'checkbox_print_labels'" type="checkbox">
                                        <label class="padding-top-2" for="checkbox_print_labels">Print Labels&nbsp;&nbsp;<small>(Allow Admin to print labels from the product catalogue and on stock control)</small></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="items-center">
                                <div class="col-md-2">
                                    <label class="margin-bottom-5">Discounts:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        <input id="checkbox_apply_discounts" [(ngModel)]="checkbox_apply_discounts" [name]="'checkbox_apply_discounts'" type="checkbox">
                                        <label class="padding-top-2" for="checkbox_apply_discounts">Apply Discounts&nbsp;&nbsp;<small>(Allow Admin to provide discounts on a sale, including individual line items. This excludes managing price books.)</small></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="margin-bottom-5">Sell:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_create_on_account_sales" [(ngModel)]="checkbox_create_on_account_sales" [name]="'checkbox_create_on_account_sales'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_create_on_account_sales">Create or continue On-Account sales</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_issue_store_credit" [(ngModel)]="checkbox_issue_store_credit" [name]="'checkbox_issue_store_credit'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_issue_store_credit">Issue store credit for a return sale</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_perform_cash" [(ngModel)]="checkbox_perform_cash" [name]="'checkbox_perform_cash'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_perform_cash">Perform cash movements</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_make_sales" [(ngModel)]="checkbox_make_sales" [name]="'checkbox_make_sales'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_make_sales">Make sales</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_perform_sale" [(ngModel)]="checkbox_perform_sale" [name]="'checkbox_perform_sale'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_perform_sale">Perform sale returns and exchanges</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_void_sales" [(ngModel)]="checkbox_void_sales" [name]="'checkbox_void_sales'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_void_sales">Void sales on Sales Ledger</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_close_registers" [(ngModel)]="checkbox_close_registers" [name]="'checkbox_close_registers'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_close_registers">Close registers at the end of the day</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_refund" [(ngModel)]="checkbox_refund" [name]="'checkbox_refund'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_refund">Refund</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="margin-bottom-5">Customers:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_export_customer" [(ngModel)]="checkbox_export_customer" [name]="'checkbox_export_customer'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_export_customer">Export customer list</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_remove_customer" [(ngModel)]="checkbox_remove_customer" [name]="'checkbox_remove_customer'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_remove_customer">Remove a customer</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_add_customer_groups" [(ngModel)]="checkbox_add_customer_groups" [name]="'checkbox_add_customer_groups'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_add_customer_groups">Add customer groups</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_add_customers" [(ngModel)]="checkbox_add_customers" [name]="'checkbox_add_customers'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_add_customers">Add customers in bulk with a CSV import</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_add_customer" [(ngModel)]="checkbox_add_customer" [name]="'checkbox_add_customer'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_add_customer">Add a new customer</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="margin-bottom-5">Products:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_perform_supplier" [(ngModel)]="checkbox_perform_supplier" [name]="'checkbox_perform_supplier'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_perform_supplier">Perform supplier stock orders and returns</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_create_products" [(ngModel)]="checkbox_create_products" [name]="'checkbox_create_products'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_create_products">Create and edit products</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_perform_inventory" [(ngModel)]="checkbox_perform_inventory" [name]="'checkbox_perform_inventory'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_perform_inventory">Perform inventory counts</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_perform_stock" [(ngModel)]="checkbox_perform_stock" [name]="'checkbox_perform_stock'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_perform_stock">Perform a stock transfer</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_create_price_books" [(ngModel)]="checkbox_create_price_books" [name]="'checkbox_create_price_books'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_create_price_books">Create and edit price books</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_create_product_type" [(ngModel)]="checkbox_create_product_type" [name]="'checkbox_create_product_type'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_create_product_type">Create and edit product type</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_create_supplier" [(ngModel)]="checkbox_create_supplier" [name]="'checkbox_create_supplier'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_create_supplier">Create and edit supplier</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_create_brand" [(ngModel)]="checkbox_create_brand" [name]="'checkbox_create_brand'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_create_brand">Create and edit product brand</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_create_product_attribute" [(ngModel)]="checkbox_create_product_attribute" [name]="'checkbox_create_product_attribute'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_create_product_attribute">Create and edit product attribute</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="margin-bottom-5">Reporting:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_view_sales" [(ngModel)]="checkbox_view_sales" [name]="'checkbox_view_sales'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_view_sales">View Sales Report</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_view_reporting" [(ngModel)]="checkbox_view_reporting" [name]="'checkbox_view_reporting'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_view_reporting">View reporting on payments</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_only_own_sales" [(ngModel)]="checkbox_only_own_sales" [name]="'checkbox_only_own_sales'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_only_own_sales">Only own sales</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_all_sales_mode" [(ngModel)]="checkbox_all_sales_mode" [name]="'checkbox_all_sales_mode'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_all_sales_mode">All sales made at assigned outlets</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="margin-bottom-5">Ecommerce:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_access_ecommerce" [(ngModel)]="checkbox_access_ecommerce" [name]="'checkbox_access_ecommerce'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_access_ecommerce">Access Ecommerce</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="margin-bottom-5">Setup:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_manage_role" [(ngModel)]="checkbox_manage_role" [name]="'checkbox_manage_role'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_manage_role">Manage User Roles</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_manage_outlet" [(ngModel)]="checkbox_manage_outlet" [name]="'checkbox_manage_outlet'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_manage_outlet">Create and Edit Outlet & Register</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_add_cashier" [(ngModel)]="checkbox_add_cashier" [name]="'checkbox_add_cashier'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_add_cashier">Add and edit Cashiers</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_add_manager" [(ngModel)]="checkbox_add_manager" [name]="'checkbox_add_manager'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_add_manager">Add and edit Managers</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_enable_add_ons" [(ngModel)]="checkbox_enable_add_ons" [name]="'checkbox_enable_add_ons'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_enable_add_ons">Enable Add-ons</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_manage_payment_type" [(ngModel)]="checkbox_manage_payment_type" [name]="'checkbox_manage_payment_type'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_manage_payment_type">Manage Payment Types</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_manage_tax" [(ngModel)]="checkbox_manage_tax" [name]="'checkbox_manage_tax'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_manage_tax">Manage Taxes</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_manage_loyalty" [(ngModel)]="checkbox_manage_loyalty" [name]="'checkbox_manage_loyalty'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_manage_loyalty">Manage Loyalty</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_manage_hardware" [(ngModel)]="checkbox_manage_hardware" [name]="'checkbox_manage_hardware'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_manage_hardware">Manage hardware on iOS</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <input id="checkbox_manage_keys" [(ngModel)]="checkbox_manage_keys" [name]="'checkbox_manage_keys'" type="checkbox">
                                    <label class="padding-top-2" for="checkbox_manage_keys">Manage Quick Keys</label>
                                </div>
                            </div>
                        </div>
                        <!-- <button type="submit" class="btn btn-sm btn-info btn-fill pull-right">{{ currentRow.id ? 'Update' : 'Add' }}</button>
                        <button class="btn btn-sm btn-info btn-fill pull-right" (click)="cancelEdit()" *ngIf="currentRow.id">Cancel</button> -->
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="card" *ngIf="!isAddRoleContentVisible">
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <!-- <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th> -->
                                        <th>Role Name</th>
                                        <th>Last Updated</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of data">
                                        <td>{{ row.name }}</td>
                                        <td>{{ row.updated_at | date:'yyyy-MM-dd' }}</td>
                                        <td>
                                            <button class="btn btn-sm btn-info" (click)="editRow(row)" data-toggle="tooltip" title="Edit">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </button>
                                            <button class="btn btn-sm btn-danger" (click)="showDeleteModal(row.name)" data-toggle="tooltip" title="Delete">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="data.length == 0">
                                        <td colspan="3">
                                            <div class="content margin-top-10">
                                                <p class="text-center description">No Data</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Table on Plain Background</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">

                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<app-confirm-modal *ngIf="isDeleteModal" 
    [title]="'Remove User Role'"
    [description]="'Do you really want to remove this User Role ?'"
    [confirmButtonCaption]="'Delete'"
    [cancelButtonCaption]="'Cancel'"
    (confirmed)="deleteRow()" 
    (cancelled)="closeDeleteModal()">
</app-confirm-modal>
<app-toast></app-toast>
