<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card margin-bottom-10" *ngIf="isContentVisible">
                    <div class="header">
                        <h4 class="title flex-item"> 
                            <i class="pe-7s-angle-left-circle" (click)="cancelEdit()"></i>
                            {{ isEditContentVisible ? 'Edit' : 'Detail'}} Order #{{ currentRow.reference}}
                        </h4>
                    </div>
                    <div class="content">
                        <div class="form">
                            <div class="add-content">
                                <p class="category"></p>
                                <div> 
                                    <button class="btn btn-sm btn-info btn-fill" type="submit" (click)="editRow(currentRow)" *ngIf="!isEditContentVisible">&nbsp;&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    <button class="btn btn-sm btn-info btn-fill" type="submit" (click)="saveRow()" *ngIf="isEditContentVisible">&nbsp;&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    <button class="btn btn-sm btn-info btn-fill" type="button" (click)="cancelEdit()">Cancel</button>
                                </div>
                            </div>
                            <ng-container *ngIf="!isEditContentVisible">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="header">
                                            <h4 class="title">Order Details</h4>
                                            <p class="category">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-9 margin-top-15 category">
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6">
                                                <p>Customer</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="compact-spacing">
                                                    {{ currentRow.customer?.name }}
                                                    &nbsp;&nbsp;<small>{{ currentRow.customer?.email }}</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6">
                                                <p>Status</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    {{ onToUpperCase(currentRow.status) }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6">
                                                <p>Date</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="compact-spacing">
                                                    {{ getDate(currentRow.created_at) }}&nbsp;&nbsp;<small>{{ getTime(currentRow.created_at) }}</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6">
                                                <p>Total</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    ${{ currentRow.total }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6">
                                                <p>Products</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    {{ currentRow.products.length }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="header">
                                            <h4 class="title">Status & Payment</h4>
                                            <p class="category">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-9 margin-top-15 category">
                                        <div class="row">
                                            <div class="col-md-6 margin-bottom-5">
                                                <p>Order Status</p>
                                                <div class="item-justify" *ngFor="let row of currentRow.status_history">
                                                    <p>{{ onToUpperCase(row.status)}}</p>
                                                    <p>{{ getDate(row.created_at) }}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 margin-bottom-5">
                                                <p>Payment Status</p>
                                                <div class="item-justify" *ngFor="let row of currentRow.payment_status_history">
                                                    <p>{{ onToUpperCase(row.status) }}</p>
                                                    <p>{{ getDate(row.created_at) }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-12">
                                                <p>Payments({{currentRow.payments.length || 0 }})</p>
                                                <div class="item-justify" *ngFor="let row of currentRow.payments">
                                                    <p> {{ getDate(row.created_at) }} </p>
                                                    <p> {{ onToUpperCase(row.type) }} ${{ row.amount }} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="header">
                                            <h4 class="title">Customer</h4>
                                            <p class="category">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-9 margin-top-15 category">
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6">
                                                <p>Name</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="compact-spacing">
                                                    {{ currentRow.customer?.name }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6">
                                                <p>Email</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="compact-spacing">
                                                    {{ currentRow.customer?.email }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6">
                                                <p>Company</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="compact-spacing">
                                                    {{ currentRow.customer?.company }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Mobile</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="compact-spacing">
                                                    {{ currentRow.customer?.mobile }}
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6 margin-bottom-5">
                                                <p>Billing Address</p>
                                                <div class="item-justify">
                                                    <p>City</p>
                                                    <p>{{ currentRow.customer?.billing_address?.city }}</p>
                                                </div>
                                                <div class="item-justify">
                                                    <p>Suburb</p>
                                                    <p>{{ currentRow.customer?.billing_address?.suburb }}</p>
                                                </div>
                                                <div class="item-justify">
                                                    <p>Postcode</p>
                                                    <p>{{ currentRow.customer?.billing_address?.postcode }}</p>
                                                </div>
                                                <div class="item-justify">
                                                    <p>State</p>
                                                    <p>{{ currentRow.customer?.billing_address?.state }}</p>
                                                </div>
                                                <div class="item-justify">
                                                    <p>Country</p>
                                                    <p>{{ currentRow.customer?.billing_address?.country?.country_name }}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 margin-bottom-5">
                                                <p>Shipping Address</p>
                                                <div class="item-justify">
                                                    <p>City</p>
                                                    <p>{{ currentRow.customer?.shipping_address?.city }}</p>
                                                </div>
                                                <div class="item-justify">
                                                    <p>Suburb</p>
                                                    <p>{{ currentRow.customer?.shipping_address?.suburb }}</p>
                                                </div>
                                                <div class="item-justify">
                                                    <p>Postcode</p>
                                                    <p>{{ currentRow.customer?.shipping_address?.postcode }}</p>
                                                </div>
                                                <div class="item-justify">
                                                    <p>State</p>
                                                    <p>{{ currentRow.customer?.shipping_address?.state }}</p>
                                                </div>
                                                <div class="item-justify">
                                                    <p>Country</p>
                                                    <p>{{ currentRow.customer?.shipping_address?.country?.country_name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="header">
                                            <h4 class="title">Products({{ currentRow.products.length }})</h4>
                                            <p class="category"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-9 margin-top-15 margin-bottom-5 category">
                                        <div class="row" *ngFor="let row of currentRow.products">
                                            <div class="col-md-10 item-justify">
                                                <p>{{ row.product_name }}</p>
                                                <p>${{ row.price }} X {{ row.qty }}</p>
                                            </div>
                                            <div class="col-md-2 item-justify">
                                                <p></p>
                                                <p>${{ row.price * row.qty }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="header">
                                            <h4 class="title">Summary</h4>
                                            <p class="category"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-9 margin-top-15 margin-bottom-5 category">
                                        <div class="item-justify">
                                            <p>Sub Total</p>
                                            <p>${{ currentRow.subtotal }}</p>
                                        </div>
                                        <div class="item-justify">
                                            <p>Tax(+{{ currentRow.products[0]?.tax }}%)</p>
                                            <p>${{ currentRow.tax }}</p>
                                        </div>
                                        <div class="item-justify">
                                            <p>Total</p>
                                            <p>${{ currentRow.total }}</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="isEditContentVisible">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="header">
                                            <h4 class="title">Status & Payment</h4>
                                            <p class="category">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-9 margin-top-15 category">
                                        <div class="row">
                                            <div class="col-md-6 margin-bottom-5">
                                                <p>Order Status</p>
                                                <div class="item-justify" *ngFor="let row of currentEditRow.status_history">
                                                    <p>{{ onToUpperCase(row.status)}}</p>
                                                    <p>{{ getDate(row.created_at) }}</p>
                                                </div>
                                                <div class="add-content">
                                                    <select class="form-control" id="status" [(ngModel)]="currentEditRow.status">
                                                        <option *ngFor="let row of ordersEdit" [value]="row.value">{{ row.name }}</option>
                                                    </select>
                                                    <button class="btn btn-sm btn-info btn-fill" (click)="onAdd('order_status')">Update</button>
                                                </div>
                                            </div>
                                            <div class="col-md-6 margin-bottom-5">
                                                <p>Payment Status</p>
                                                <div class="item-justify" *ngFor="let row of currentEditRow.payment_status_history">
                                                    <p>{{ onToUpperCase(row.status) }}</p>
                                                    <p>{{ getDate(row.created_at) }}</p>
                                                </div>
                                                <div class="add-content">
                                                    <select class="form-control" id="payment_status" [(ngModel)]="currentEditRow.payment_status">
                                                        <option *ngFor="let row of paymentsEdit" [value]="row.value">{{ row.name }}</option>
                                                    </select>
                                                    <button class="btn btn-sm btn-info btn-fill" (click)="onAdd('payment_status')">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-12">
                                                <p>Payments({{currentEditRow.payments.length || 0 }})</p>
                                                <div class="item-justify" *ngFor="let row of currentEditRow.payments">
                                                    <p> {{ getDate(row.created_at) }} </p>
                                                    <p> {{ onToUpperCase(row.type) }}&nbsp;&nbsp;&nbsp;${{ row.amount }} </p>
                                                </div>
                                                <div class="add-content">
                                                    <div class="add-content-first">
                                                        <input type="Date" class="form-control" id="payments_date" name="payments_date" [(ngModel)]="payments_date"/>
                                                        <select class="form-control" id="payments_type" [(ngModel)]="payments_type">
                                                            <option [value]="'store_pickup'">Store Pickup</option>
                                                        </select>
                                                        <input type="number" class="form-control" placeholder="Amount" id="payments_amount" name="payments_amount" [(ngModel)]="payments_amount"/>
                                                    </div>
                                                    <button class="btn btn-sm btn-info btn-fill" (click)="onAdd('payments')">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="header">
                                            <h4 class="title">Customer</h4>
                                            <p class="category">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-9 margin-top-15 category">
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6">
                                                <p>Name</p>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Name" id="currentEditRow.customer.name" name="currentEditRow.customer.name" [(ngModel)]="currentEditRow.customer.name"/>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6">
                                                <p>Email</p>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Email" id="currentEditRow.customer.email" name="currentEditRow.customer.email" [(ngModel)]="currentEditRow.customer.email"/>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6">
                                                <p>Company</p>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Company" id="currentEditRow.customer.company" name="currentEditRow.customer.company" [(ngModel)]="currentEditRow.customer.company"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Mobile</p>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Mobile" id="currentEditRow.customer.mobile" name="currentEditRow.customer.mobile" [(ngModel)]="currentEditRow.customer.mobile"/>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row margin-bottom-5">
                                            <div class="col-md-6 margin-bottom-5">
                                                <p>Billing Address</p>
                                                <div class="row margin-bottom-5">
                                                    <div class="col-md-6">
                                                        <p>City</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" placeholder="City" id="currentEditRow.customer.billing_address.city" name="currentEditRow.customer.billing_address.city" [(ngModel)]="currentEditRow.customer.billing_address.city"/>
                                                    </div>
                                                </div>
                                                 <div class="row margin-bottom-5">
                                                    <div class="col-md-6">
                                                        <p>Suburb</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <input type="text" class="form-control" placeholder="Suburb" id="currentEditRow.customer.billing_address.suburb" name="currentEditRow.customer.billing_address.suburb" [(ngModel)]="currentEditRow.customer.billing_address.suburb"/>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5">
                                                    <div class="col-md-6">
                                                        <p>Postcode</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" placeholder="Postcode" id="currentEditRow.customer.postcode" name="currentEditRow.customer.postcode" [(ngModel)]="currentEditRow.customer.billing_address.postcode"/>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5">
                                                    <div class="col-md-6">
                                                        <p>State</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" placeholder="State" id="currentEditRow.customer.state" name="currentEditRow.customer.state" [(ngModel)]="currentEditRow.customer.billing_address.state"/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Country</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-control" id="billing-address-select" [(ngModel)]="currentEditRow.customer.billing_address.country">
                                                            <option *ngFor="let row of countries" [value]="row._id">{{ row.country_name }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 margin-bottom-5">
                                                <p>Shipping Address</p>
                                                <div class="row margin-bottom-5">
                                                    <div class="col-md-6">
                                                        <p>City</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" placeholder="City" id="currentEditRow.customer.shipping_address.city" name="currentEditRow.customer.shipping_address.city" [(ngModel)]="currentEditRow.customer.shipping_address.city"/>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5">
                                                    <div class="col-md-6">
                                                        <p>Suburb</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" placeholder="Suburb" id="currentEditRow.customer.shipping_address.suburb" name="currentEditRow.customer.shipping_address.suburb" [(ngModel)]="currentEditRow.customer.shipping_address.suburb"/>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5">
                                                    <div class="col-md-6">
                                                        <p>Postcode</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" placeholder="Postcode" id="currentEditRow.customer.shipping_address.postcode" name="currentEditRow.customer.shipping_address.postcode" [(ngModel)]="currentEditRow.customer.shipping_address.postcode"/>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5">
                                                    <div class="col-md-6">
                                                        <p>State</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" placeholder="State" id="currentEditRow.customer.shipping_address.state" name="currentEditRow.customer.shipping_address.state" [(ngModel)]="currentEditRow.customer.shipping_address.state"/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Country</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-control" id="shipping-address-select" [(ngModel)]="currentEditRow.customer.shipping_address.country">
                                                            <option *ngFor="let row of countries" [value]="row._id">{{ row.country_name }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="header">
                                            <h4 class="title">Products({{ currentEditRow.products.length }})</h4>
                                            <p class="category"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-9 margin-top-15 margin-bottom-5 category">
                                        <div class="row" *ngFor="let row of currentEditRow.products">
                                            <div class="col-md-10 item-justify">
                                                <p>{{ row.product_name }}</p>
                                                <p>${{ row.price }} X {{ row.qty }}</p>
                                            </div>
                                            <div class="col-md-2 item-justify">
                                                <p></p>
                                                <p>${{ row.price * row.qty }}</p>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="content table-responsive table-full-width">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>Role</th>
                                                            <th>Outlet</th>
                                                            <th>Daily Target</th>
                                                            <th>Weekly Target</th>
                                                            <th>Monthly Target</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let row of users">
                                                            <td>{{ row.first_name + ' ' + row.last_name }}</td>
                                                            <td>{{ row.email }}</td>
                                                            <td>{{ row.role?.name }}</td>
                                                            <td>{{ row.outlet ? row.outlet?.name : 'All Outlets' }}</td>
                                                            <td>${{ row.daily_target || 0 }}</td>
                                                            <td>${{ row.weekly_target || 0 }}</td>
                                                            <td>${{ row.monthly_target || 0 }}</td>
                                                            <td>
                                                                <button class="btn btn-sm btn-info" (click)="editRow(row)" data-toggle="tooltip"
                                                                    title="Edit">
                                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                                </button>
                                                                <button class="btn btn-sm btn-danger" (click)="showDeleteModal(row._id)"
                                                                    data-toggle="tooltip" title="Delete">
                                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr *ngIf="users == null || users?.length == 0">
                                                            <td colspan="8">
                                                                <div class="content margin-top-10">
                                                                    <p class="text-center description">No Data</p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                        
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="header">
                                            <h4 class="title">Summary</h4>
                                            <p class="category"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-9 margin-top-15 margin-bottom-5 category">
                                        <div class="item-justify">
                                            <p>Sub Total</p>
                                            <p>${{ currentEditRow.subtotal }}</p>
                                        </div>
                                        <div class="item-justify">
                                            <p>Tax(+{{ currentEditRow.products[0]?.tax }}%)</p>
                                            <p>${{ currentEditRow.tax }}</p>
                                        </div>
                                        <div class="item-justify">
                                            <p>Total</p>
                                            <p>${{ currentEditRow.total }}</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="card margin-bottom-0" *ngIf="!isContentVisible">
                    <div class="content add-content">
                        <div class="row padding-left-15">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Order" id="order" name="order" [(ngModel)]="order"/>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" id="city-select" [(ngModel)]="status">
                                    <option *ngFor="let row of orders" [value]="row.value">{{ row.name }}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" id="city-select" [(ngModel)]="payment">
                                    <option *ngFor="let row of payments" [value]="row.value">{{ row.name }}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Customer" id="customer" name="customer" [(ngModel)]="customer"/>
                            </div>
                            <div class="col-md-2">
                                <input type="date" class="form-control" id="startdate" name="startdate" [(ngModel)]="start">
                            </div>
                            <div class="col-md-2"><input type="date" class="form-control" id="enddate" name="enddate" [(ngModel)]="end"></div>
                        </div>
                        <div class="">
                            <button class="btn btn-sm btn-info btn-fill" (click)="onClearFilters()">Clear Filters</button>
                            <button class="btn btn-sm btn-info btn-fill" (click)="onSearch()">Search</button>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="!isContentVisible">
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <!-- <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th> -->
                                        <th>Reference</th>
                                        <th>Customer</th>
                                        <th>Total</th>
                                        <th>Payment</th>
                                        <th>Status</th>
                                        <th>Payment Status</th>
                                        <th>Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of data" (click)="detailRow(row)">
                                        <td>{{ row.reference }}</td>
                                        <td class="compact-spacing">{{ row.customer?.name }}<br><small>{{ row.customer?.email }}</small></td>
                                        <td>${{ row.total || 0 }}</td>
                                        <td>{{ onToUpperCase(row.payments[0]?.type) }}</td>
                                        <td><span [ngClass]="getClass(row.status)">&nbsp;&nbsp;{{ onToUpperCase(row.status) }}&nbsp;&nbsp;</span></td>
                                        <td><span [ngClass]="getClass(row.payment_status)">&nbsp;&nbsp;{{ onToUpperCase(row.payment_status) }}&nbsp;&nbsp;</span></td>
                                        <td class="compact-spacing">
                                            <!-- <button class="btn btn-sm btn-info" (click)="editRow(row)">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </button>
                                            <button class="btn btn-sm btn-danger" (click)="deleteRow(row.id)">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button> -->
                                            {{ getDate(row.created_at) }}<br><small>{{ getTime(row.created_at) }}</small>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-toast></app-toast>